{% extends "base.html" %}
{% block banner %}
  <div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">
            <h2>招纳贤士</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <!-- <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>UBL人才培养模式</h2>
              <p>主页人才培养</p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>招贤纳士</h2>
              <p>CHARACTERISTIC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div id="categories-1" class="sidebar-widget widget_categories">
            <h3 class="sidebar-title">岗位需求</h3>

            <ul>

              <li class="cat-item cat-item-22">
                <a href="us_showInfo.aspx?id=17122011073408310000001">教学秘书（助理）</a>
              </li>

              <li class="cat-item cat-item-22">
                <a href="us_showInfo.aspx?id=1">教师</a>
              </li>

            </ul>

          </div>

          <div class="blog-wrapper">
            <div id="comments" class="comments-area">
              <div class="leave-comment-form">
                <div id="respond" class="comment-respond">
                  <h3 id="reply-title" class="comment-reply-title">提交您的信息
                                                        </h3>
                  <form method="post" action="./us_zxns.aspx" id="commentform" class="comment-form" novalidate="">
                    <div class="aspNetHidden">
                      <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="P7PZfO7gwVKRQDIMamewE5sDRJ8XaLygNv5EnrsRRisBrP+Fst+HIVoDupzmgDH3elonSINnlBQ5ptrRw6sYBqseLK99AYQA+LCXJe2gg1uQwZDGyE4TEJd4md34wspAMGxXvZyF9GYKOEh1vZ4xBLBIrzdIRETYILNQKlK/HkP26kazzoge4gifiBj+WTrvHNrnZSM5KpiJ1IAN6RSdG0Xsiji+U5sQKiczJxb0ZeNZ2DAnw0cOUFj8VCmt8nyEledaXSFIxRagMckQgNqESw==">
                    </div>

                    <div class="aspNetHidden">

                      <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="+XCF5o+N/0yc63AE+t8GVXVegjvS3IgonfdBFoSOfvps1rRkYPoX9NhaQaOR4MwVSyV+YLPBDfcTHkKNwPfa7fU4P9761eEsZaHrN6zN35HqoRaxw1ivrLccNV2ikHNm4gMNdpRrYTGUVbfLpSEdJ102WctYCV1NMNtGIDBuLAZ6LY07GU0CpOKwZ8+wukDhksZWQ0fwEw16RaZK4xJII4AgfInkTCuzi/aBHRU2ruU=">
                    </div>
                    <p class="comment-notes">
                      <span id="email-notes">请完整填写你的相关信息.</span>
                      <span class="required">带*号为必填写项.</span>
                    </p>
                    <p>
                      <div unselectable="on" style="width: 750px;">
                        <div class=" nicEdit-panelContain" unselectable="on" style="overflow: hidden; width: 100%; border: 1px solid rgb(204, 204, 204); background-color: rgb(239, 239, 239);">
                          <div class=" nicEdit-panel" unselectable="on" style="margin: 0px 2px 2px; zoom: 1; overflow: hidden;"></div>
                        </div>
                      </div>
                      <div style="width: 750px; border-width: 0px 1px 1px; border-top-style: initial; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: initial; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-image: initial; overflow: hidden auto;">
                        <div class=" nicEdit-main" contenteditable="true" style="width: 742px; margin: 4px; min-height: 178px; overflow: hidden;"><br></div>
                      </div><textarea name="comment" id="comment" placeholder="个人描述 *" required="required" style="display: none;"></textarea>
                    </p>
                    <br>
                    <div class="input_half left">

                      <input name="tx_name" type="text" id="tx_name" placeholder="您的姓名 *">
                    </div>
                    <div class="input_half right">

                      <input name="tx_tel" type="text" id="tx_tel" placeholder="您的电话 *">
                    </div>
                    <input name="tx_job" type="text" id="tx_job" class="input_half" placeholder="应聘职位 *">

                    <input name="tx_email" type="text" id="tx_email" class="input_half" placeholder="你的邮箱 *">

                    <p class="form-submit">

                      <input type="submit" name="Button1" value="提交信息" onclick="return teststu();" id="Button1" class="submit">
                    </p>
                  </form>
                </div>
                <!-- #respond -->
              </div>
            </div>
            <!-- .comments-area -->
          </div>
        </div>

        <div class="col-md-4">
          <aside id="secondary" class="widget-area">
            <div id="categories-2" class="sidebar-widget widget_categories">
              <h3 class="sidebar-title">联系我们</h3>
              <ul>
                <li>
                  <div class="kc_wrapper kc-col-inner-container">
                    <div class="kc-elm kc-css-544421 kc-feature-boxes kc-fb-layout-3">
                      <div class="content-icon"><i class="fa-phone"></i></div>
                      <div class="box-right">
                        <div class="content-desc">
                         028-36753941 
                        </div>
                      </div>
                    </div>
                    <div class="kc-elm kc-css-47115 kc-feature-boxes kc-fb-layout-3">
                      <div class="content-icon"><i class="sl-globe"></i></div>
                      <div class="box-right">
                        <div class="content-desc">
                          ckdlxy@ultrawise.com.cn

                        </div>
                      </div>
                    </div>
                    <div class="kc-elm kc-css-641589 kc-feature-boxes kc-fb-layout-3">
                      <div class="content-icon"><i class="fa-map-marker"></i></div>
                      <div class="box-right">
                        <div class="content-desc">
                          天府新区视高经济开发区花海大道大学路1号四川科技职业学院-7号教学楼-鼎利学院
                        </div>
                      </div>
                    </div>

                  </div>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      </div>

    </div>

  </div>
  </div>
{% endblock %}
