{% extends "base.html" %}
 {% load staticfiles %}
{% block banner %}
  <div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">
            <h2>联系我们</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <!-- <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>UBL人才培养模式</h2>
              <p>主页人才培养</p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>联系我们</h2>
              <p>CHARACTERISTIC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
    <iframe src="{% static 'baidu.html' %}" style="width:720px;height:580px; border:0px;"></iframe>>
        </div>
        <div class="col-md-4">
          <div class="contact-wrap">
                            <ul>

                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <p>ckdlxy@ultrawise.com.cn</p>
                                    <!--<p>martxa1545@gmail.com</p>-->
                                </li>
                                <li>
                                    <i class="fa fa-fax"></i>
                                    <p>+028-36753941</p>
                                </li>
                                <li>
                                    <i class="fa fa-location-arrow"></i>
                                    天府新区视高经济开发区花海大道大学路1号
四川科技职业学院-7号教学楼-鼎利学院
                                </li>
                            </ul>
                        </div>
          <!--<div class="blog-info">-->
            <!--<p>-->
              <!--四川科技职业学院-鼎利学院（互联网+）学院-->
            <!--</p>-->
            <!--<div class="kc-elm kc-css-544421 kc-feature-boxes kc-fb-layout-3">-->
              <!--<div class="content-icon"><i class="fa-phone"></i></div>-->
              <!--<div class="box-right">-->
                <!--<div class="content-desc">-->
                  <!--028-3679 2608-->
                  <!--<br> 028-3679 2609-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="kc-elm kc-css-47115 kc-feature-boxes kc-fb-layout-3">-->
              <!--<div class="content-icon"><i class="fa-search"></i></div>-->
              <!--<div class="box-right">-->
                <!--<div class="content-desc">-->
                  <!--ckdlxy@ultrawise.com.cn-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="kc-elm kc-css-641589 kc-feature-boxes kc-fb-layout-3">-->
              <!--<div class="content-icon"><i class="fa-map-marker"></i></div>-->
              <!--<div class="box-right">-->
                <!--<div class="content-desc">-->
                  <!--天府新区视高经济开发区花海大道大学路1号<br> 四川科技职业学院-7号教学楼-鼎利学院.-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->


          <!--</div>-->
        </div>

      </div>

      <div class="row">


      </div>

    </div>

  </div>
  </div>

{% endblock %}
