{% extends "base.html" %}
{% block banner %}
  <div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">
            <h2>优秀师资团队</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <!-- <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>UBL人才培养模式</h2>
              <p>主页人才培养</p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>专业老师</h2>
              <p>PROFESSIONAL TEACHERS</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">


        <!--标题end-->

        <div class="unitech-teachers">
          <!--老师开始-->

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=18040309471255810000002">
                                                                              <img src="assets/images/18040309434141710000001.jpg" id="repeater_teacher_imgHeadImage_0" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3><a href="teacherdetails.aspx?id=18040309471255810000002">
                                                                                  张雪鹏
                                                                              </a></h3>
                      <p>赠人玫瑰，手有余香。 </p>
                      <div class="blog-social">
                        <h4>院长</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=18042717163946010000002">
                                                                              <img src="assets/images/laoye.jpg" id="repeater_teacher_imgHeadImage_1" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3><a href="teacherdetails.aspx?id=18042717163946010000002">
                                                                                  叶林
                                                                              </a></h3>
                      <p>学高为师，身正为范 </p>
                      <div class="blog-social">
                        <h4>名誉院长</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=17120614335894010000006">
                                                                              <img src="assets/images/18032308324228910000005.jpg" id="repeater_teacher_imgHeadImage_2" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3><a href="teacherdetails.aspx?id=17120614335894010000006">
                                                                                  罗浚溢
                                                                              </a></h3>
                      <p>科学技术是第一生产力 </p>
                      <div class="blog-social">
                        <h4>教学副院长</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=18041609470787410000003">
                                                                              <img src="assets/images/18041609442439210000002.jpg" id="repeater_teacher_imgHeadImage_3" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3><a href="teacherdetails.aspx?id=18041609470787410000003">
                                                                                  郑煜
                                                                              </a></h3>
                      <p>从事高校学生工作和高校保卫工作8年 ... </p>
                      <div class="blog-social">
                        <h4>鼎利学院党总支书记</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=17122117052613210000008">
                                                                              <img src="assets/images/17122212020890710000009.jpg" id="repeater_teacher_imgHeadImage_4" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3><a href="teacherdetails.aspx?id=17122117052613210000008">
                                                                                  邱小波
                                                                              </a></h3>
                      <p>知足，感恩，健康，快乐 </p>
                      <div class="blog-social">
                        <h4>教务主任</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=17122017583650710000002">
                                                                              <img src="assets/images/17122111161276510000035.jpg" id="repeater_teacher_imgHeadImage_5" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3><a href="teacherdetails.aspx?id=17122017583650710000002">
                                                                                  刘桄序
                                                                              </a></h3>
                      <p>电子技术基础等课程专业教授 </p>
                      <div class="blog-social">
                        <h4>教研室主任</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

        </div>



        <div class="row">
          <div class="text-left">
            <div class="my-section-title">
              <span class="section-serial">02</span>
              <div class="title-text">
                <h2>学工教师</h2>
                <p>STUDENT MANAGEMENT TEACHER</p>
              </div>
            </div>
          </div>
        </div>

        <div class="unitech-teachers">
          <!--老师开始-->

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=17122110425734510000014">
                                                                              <img src="assets/images/17122211224284110000007.jpg" id="repeater_teacher1_imgHeadImage_0" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3>
                                                                                  <a href="teacherdetails.aspx?id=17122110425734510000014">
                                                                                      杨建
                                                                                  </a></h3>
                      <p>为人师，身正为范 </p>
                      <div class="blog-social">
                        <h4>学工主管</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=17122110523887810000018">
                                                                              <img src="assets/images/17122110522939710000017.jpg" id="repeater_teacher1_imgHeadImage_1" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3>
                                                                                  <a href="teacherdetails.aspx?id=17122110523887810000018">
                                                                                      周佳蓉
                                                                                  </a></h3>
                      <p>决心要成功的人，已经成功了一半。 </p>
                      <div class="blog-social">
                        <h4>学生党支记</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=17122111002434310000032">
                                                                              <img src="assets/images/17122813064979610000001.jpg" id="repeater_teacher1_imgHeadImage_2" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3>
                                                                                  <a href="teacherdetails.aspx?id=17122111002434310000032">
                                                                                      蒋红琼
                                                                                  </a></h3>
                      <p>为师者，不愧于心 </p>
                      <div class="blog-social">
                        <h4>团总支书记</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=17122110532251210000020">
                                                                              <img src="assets/images/17122110530958710000019.jpg" id="repeater_teacher1_imgHeadImage_3" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3>
                                                                                  <a href="teacherdetails.aspx?id=17122110532251210000020">
                                                                                      李冬梅
                                                                                  </a></h3>
                      <p>美，是智慧，是静谧。祝你聪明！ </p>
                      <div class="blog-social">
                        <h4>学工老师</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=17122110535693010000022">
                                                                              <img src="assets/images/17122110535210110000021.jpg" id="repeater_teacher1_imgHeadImage_4" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3>
                                                                                  <a href="teacherdetails.aspx?id=17122110535693010000022">
                                                                                      胡皓萌
                                                                                  </a></h3>
                      <p>愿你是永远奔腾的千里马。 </p>
                      <div class="blog-social">
                        <h4>学工老师</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
              <div class="edu-news-single clearfix">
                <!--作者-->
                <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                  <div class="author--info--wrap">
                    <a href="teacherdetails.aspx?id=17122110543406710000024">
                                                                              <img src="assets/images/17122110542377510000023.jpg" id="repeater_teacher1_imgHeadImage_5" alt="Author Image">
                                                                          </a>
                    <div class="self-info white-bg text-center">
                      <h3>
                                                                                  <a href="teacherdetails.aspx?id=17122110543406710000024">
                                                                                      唐文
                                                                                  </a></h3>
                      <p>赠人玫瑰，手有余香 </p>
                      <div class="blog-social">
                        <h4>学工老师</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

        </div>

      </div>

    </div>
  </div>
{% endblock %}