{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>学生协会</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}

<div class="faq-area ptb-100">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="faq-wrap">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                学生会
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学生会是川科鼎利（互联网+）学院学生自治的重要机构。多年来，在院党总支的正确领导下，在鼎利（互联网+）学院团总支的指导和学校各有关部门的大力支持下，积极主动的开展工作，收到了良好的效果。学生会本着“自我管理，自我教育，自我服务”的原则，不断加强自身队伍建设，同时注重研究本院学生工作的新特点，不断创新，广泛开展各类学生活动，注重在全方面开展的素质教育中充分发挥学生工作的优势。 学生会是在团总支领导下开展思想政治教育，举办文体和社会实践等活动，推动学风建设和精神文明建设，服务学生的一线组织。对促进学生德、智、体、美、全面发展、提高在校学生综合素质具有重要作用。
部门介绍：主席团、组织部、纪检部、外宣部、办公室、科创部、生活部、学习部、文艺部、体育部、女生部、青志联等。
                                            </p></div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                学委会
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学习委员是学生干部的一种基层职务，作为各个学校班委会成员之一，主要负责班级学习方面的工作。主要工作有：<br>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、负责课堂学习管理，组织全班学习，努力解决学生学习困难。<br>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、定期向辅导员或者专业老师反映同学的意见和要求。沟通教师与同学之间的信息联系，及时向同学传达学院的要求和建议，及时向班主任或相关部门反映同学和班主任的意见和建议。<br>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、负责课堂上的教材和学习资料的收集。<br>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、根据学生的知识需求，计划和组织与学习相关的活动，安排各科目的学习活动（如学科讲座，学习研讨会，阅读活动，调查，比赛，经验交流等），检查同学参加课外活动。情况，
                                                发起和组织学生撰写科学论文，各种论文等。
                                            </p></div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                五维一体督导部门
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为进一步健全鼎利（互联网+）学院教学督导的组织体系，加强教风和学风建设，强化对教学过程的质量管理，建立完善的教学质量监控体系，
                                                加强对教学质量的自我监控与保障，切实提高教学质量，学院于2018年成立教学督导机构（简称“教学督导组”）。鼎利（互联网+）督导小组坚持贯彻“五维一体”教学督导模式，从学生自查、辅导员随听课、
                                                学研会督课、专业课程督导、院级领导督课5个方面，建立全覆盖、无缝隙的教风学风长效监管机制，切实保障教育督导工作的效果，为同学们营造求是、严谨、勤奋的学习氛围。同时积极响应《国家职教改革方案》，
                                                学院成立专家委员会作为第三方评价机构，时刻监管教师课堂，提升教学水平。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingFour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                E+星空工作室
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E+星空工作室是川科鼎利（互联网+）学院一个重要的部门，它为学院、老师和同学架起一座沟通的桥梁。它以“宣传鼎利，服务同学”为宗旨展开工作
                                                ，主要工作有：出通知、海报、墙报，制作宣传栏，配合学院活动做好开展和宣传工作等。这样可以让同学们更好地了解协会的工作、活动成果及学院最新动态，进一步提高鼎利（互联网+）学院在学校以至在社会上的知名度。
</p></div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="headingFive">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                6S督查小组
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本次6S管理检查分为学院自查和专家现场检查两个阶段。由学院成立专项检查组对各自实验实训室进行整理、整顿、清扫、清洁、素养、安全检查,并根据自查情况进行自评和打分。督查小组主要工作为：<br>
                                        　　      1、负责学院学生卫生活动的规划和实施工作。<br>
                                        　　      2、指导各班级做好教室和宿舍的卫生值日安排工作，不定期抽查、定期检查，评比教室、宿舍卫生情况，并及时公布评比结果。<br>
                                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、配合系部、学工处、后勤总公司等部门重点抓好学生宿舍、教室、食堂和校园的环境卫生。<br>
                                            　　  4、配合学院、系部积极开展“星级宿舍”、“文明宿舍”等的评比活动，表彰在卫生工作中成绩突出的班级和个人。<br>
                                            　　  5、联合宣传部通过板报，海报等宣传形式，进行卫生常识宣传，引导同学养成良好的卫生习惯。<br>
                                            　　  6、开展各项劳动竞赛，组织同学为校园绿化、净化、美化进行义务劳动。</p> </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}