{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>创新创业</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="single-service-area ptb-30">
    <div class="container">
        <div class="row">
        <blockquote>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;眉山黄柠网络科技有限公司由川科鼎利（互联网+）学院2017级冯运创办的一家网络软件公司，是一家及研发，制作，开发，销售为一体的专业网络软件开发公司，主要项目为建筑装修全景VR平台，其功能是为装修公司，房地产公司制作手机全景VR看房，看户型，装修效果图。软件开发，小程序制作，活动策划，网页设计，等多项互联网垂直行业一条龙服务公司。
眉山黄柠网络科技有限公司的技术人员经验丰富，案例繁多，涉及行业广，且多家同行业公司相互交流发展，对顾客的需求尽心尽责。公司本着“千方百计生产出满足顾客期望和要求的产品”的宗旨，坚持“工厂出产的不仅仅是产品，更重要的是信誉和质量”的经营理念，不断吸收新技术、引进新设备，使公司的经济效益蒸蒸日上。冯运同学相信黄柠网络科技有限公司将会永不停止探索和发展的脚步，和中国国内以及世界国际性大公司同步发展。

            </blockquote>
            </div>
        <div class="row">


                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="" class="thumbnail">
                      <img style="height: 500px" src="/static/img/创4.jpg" alt="...">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
                    <a href="" class="thumbnail">
                      <img style="height: 500px" src="/static/img/创1.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
                    <a href="" class="thumbnail">
                      <img style="height: 500px" src="/static/img/创2.jpg" alt="...">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
                    <a href="" class="thumbnail">
                      <img style="height: 500px" src="/static/img/创3.jpg" alt="...">
                    </a>
                </div>
        </div>
    </div>
</div>

{% endblock %}