{% extends "base.html" %}
 {% load staticfiles %}
{% block banner %}

{% endblock %}

{% block content %}
  <div class="single-service-area ptb-30">
    <div class="container">

           <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>学院组织架构</h2>
              <p>ORGANIZATIONAL STRUCTURE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="blog-gallery-img">
          <img width="950" height="550" src="{% static 'assets/images/zzjg.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
        </div>
      </div>
    </div>
   </div>




      </div>
{% endblock %}