{% extends "base.html" %}
 {% load staticfiles %}
{% block banner %}
  <div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">
            <h2>院长寄语</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <!-- <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>UBL人才培养模式</h2>
              <p>主页人才培养</p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>院长寄语</h2>
              <p>PRESIDENT SPEECH</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12">
          <div class="single-service-wrap">

            <!-- Start Title  -->
            <!-- End Title  -->
            <!-- Start Thumbnail  -->

            <!-- End Thumbnail  -->

            <!-- Start info  -->
            <div class="blog-info">

              <p>
              </p>
              <p class="MsoNormal">
                <font color="#cc0000" face="impact" size="5"><strong>不忘初心，不辱使命——为国家培养优秀合格的鼎利学子</strong></font>
              </p><br>
              <font size="3">亲爱的同学们：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 欢迎你们加入四川科技职业学院鼎利学院，成为这里的主人。我代表鼎利学院（互联网
                <font size="1">+</font>学院）全校师生员工，欢迎你们，祝愿你们在美丽的天府川科实现自己的人生理想！<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 四川科技职业学院鼎利学院（互联网
                <font size="1">+</font>学院）是珠海世纪鼎利科技股份有限公司（上市企业，股票代码300050）与四川科技职业学院共建共管的一所校企深度融合特色二级学院，在学院的运营的过程中，企业资源和学校资源将最大化的服务我们学生的培养。学院将以打造川内一流、国内产教融合示范性学院为目标，以学生满意为考核标准，培养一流应用型、技术技能型人才，服务地方经济建设与发展，为当地产业人才生态链的建设贡献力量。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 各位同学，在川科鼎利学院的青春时光，稍纵即逝，我希望经过我们师生三年的相处与陪伴，大家能够实现自己的美好人生，每个人都成为一个有趣、懂得爱、性格乐观的人，每一个人都身体健康、懂得生活、正直善良、勇敢坚强。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                从现在开始，希望大家和学院一起成长，学院将以下面的目标作为每一个教师员工的日常工作，最终成就大家的美好未来。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> 1、培养有趣的学生——好看的皮囊千篇一律，有趣的灵魂万里挑一</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 眼睛会疲劳，但感受会不断刷新。“好看的皮囊千篇一律，有趣的灵魂万里挑一。”<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                有趣源于对生活的真心热爱和创造惊喜的能力，可以将琐碎的日子过出烟花划过天空般多彩的唯美！生活的激情总会被日常的平淡所取代，唯有有趣能够对抗无味的枯燥，有趣的人在一起总能把日子过得生动闪光，日常最平常的点滴也能绽放出幸福的花。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 如何能够成为一个有趣的人？我希望大家：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1）保持和世界的联系与持久的好奇心<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                2）保护好对生活的独特想象力<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3）用开放、宽容的态度去对待每一个性格有差异的独特个体<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4）多培养自己的爱好<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5）最重要的一点是要做自己<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> 2、培养爱笑的学生——爱笑的孩子，连春风都想轻轻抱你</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                当微风拂面，当阳光洒在脸上，你笑着看我。你即使不是高冷酷炫的超模，也不是美艳动人的少女，但笑起来真好看，因为在笑弯了的眉眼里可以看到星星与月亮完美而恰到好处的组合，仿佛能够融化世间所有阴霾。水灵、鲜活、跳跃。让见过的人心里暖暖的，让深海中孤独游动的自己吸到久违的氧气。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 笑是可以传染的哟，一个爱笑的老师怎么可能培养出一个眉头锁出印痕的孩子呢？<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>3、培养懂得敏感、可以发现美的学生——世界上并不缺少美，而是缺少发现美的眼睛</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 敏感让我们更加了解自己，也让我们在人际关系里，穿破层层屏障直达我们面对的那个人的内心。被风吹拂轻轻摇动的树叶、广阔天空中月亮映照出的淡淡的印痕、阳光下一对携手相伴白发苍苍的老人……生活中有太多太多可以欣赏的地方，如果懂得欣赏，就会发现周围有无数的感动和美好。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                敏感的另一半能够尽可能调动所有感官去感受自然中、生活中的细小差别，敏锐地感知世界的变化，就可以给我们的生活多一些惊喜和精彩。<br>美是有力量的，而发现美的敏感能力是需要培养的。让我们每一个人都有发觉美好细节的眼睛和心灵，拥有完整健全的个性，你们要学会欣赏艺术之美和自然之美，你们要用心感受科学之美，你们要用一生去追求人性之美。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>4、培养内心柔软、有爱心的学生——冷冷的天，当然要做个暖暖的人</b><br>&nbsp;&nbsp;&nbsp;
                &nbsp; 一个内心柔软、有爱心的人会对周遭所有的生命感同身受，并对他们充满爱意和怜悯，能保留内心的一份慈悲和温情，察觉他人所需，并伸出援手，冷冷的天，我们希望每一个人能遇到一个暖暖的人。对大家来说，拥有爱心、对生活充满感激是一生受用的品质，我们之所以与机器不同就是因为我们都是活生生的、有血有肉的人，可以有一颗温热的心，会感动、会流泪、会体悟。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>5、培养懂得耐心沟通、能合理表达情绪的学生——缺乏沟通和表达的爱会窒息</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                事实上，我们生活中大多数的纠纷和不满都是可以通过好好沟通来解决的。一个微笑、一份忍耐、一点宽容，就能解决问题。大家阶段不仅要学知识文化，更要懂得沟通和表达情绪，出现问题主动去沟通、想办法解决，懂得及时让沮丧情绪蒸发消散。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>6、培养身体健康、有良好生活习惯的孩子——也许健康不是一切，但没有健康就没有了一切</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 年青的心灵更要健康的身体，我们要爱惜自己的身体，毕竟生命只有一次，你和它开不起玩笑，只有身体好了，才有安身立命，实现理想，过上美好生活的筹码。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                所以，我们要培养良好的生活习惯，无论学习任务多么紧张，身体锻炼课坚决不能缺！<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>7、培养有梦想、有骨气的学生——因为有理想，才不会迷路</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 有梦想的人才能克服所有的苦难与胆怯，勇敢地生活、前进。让我们的每一个同学为了更好的生活可以努力奋斗、一起扶持攻坚克难，搂着彼此在山顶俯瞰被汗水、泪水滋养的绝美风景。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                同学们，世界是多彩的，希望你们与美相伴；人生是漫长的，希望你们向美而行。无论你们来自何方，心往何处，希望川科成为你人生学校的最爱、挚爱与真爱，川科鼎利学院成为你实现梦想和传奇的最佳舞台。春夏秋冬、山水相伴，天府川科是这样的美，自然、梦幻，入心入梦、终身难忘；川科更是孕育美的地方，十年川科、十年鼎利，无数川科人从这里出发，创造出美好未来，未来会有更多的鼎利人从这里出发，为实现伟大中国梦谱写篇章。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 亲爱的同学们，从今以后，川科将成为你们新的家园，鼎利将伴随你左右，我相信，美丽的川科鼎利一定会因你们而更加精彩，你们的青春足迹也一定将为川科所铭记、鼎利永珍藏！<br>&nbsp;&nbsp;&nbsp;&nbsp;
                期待在未来见到美好的你！</font><br><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <font size="3"><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 四川科技职业学院 鼎利学院 院长&nbsp; &nbsp; 张雪鹏<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2018年4月</font><br>
              <p></p>

            </div>
            <!-- End info  -->


          </div>


        </div>
        <div class="col-md-4 col-lg-3 col-xs-12">

          <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
            <div class="author--info--wrap">
              <a href="teacherdetails.aspx?id=18040309471255810000002">
                                                          <img src="/static/assets/images/18040309434141710000001.jpg" id="imgHeadImage" alt="Author Image">
                                                      </a>
              <div class="self-info white-bg text-center">
                <h3>张雪鹏</h3>
                <p>赠人玫瑰，手有余香。 </p>
                <div class="blog-social">
                  <h4>院长</h4>
                  <ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



{% endblock %}