{% extends "base.html" %}
 {% load staticfiles %}
{% block banner %}
  <div class="breadcumb-area  bg-img-9">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>学院概况</h2>
              <p>COLLEGE INTRODUCTION</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12">
          <div class="single-service-wrap">


            <div class="blog-slider">
              <div class="blog-gallery-img">
                <img width="950" height="550" src="{% static 'assets/images/xygk/1.png'%}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
              </div>
            </div>
            <br>
            <div class="blog-info">
              <p style="font-size:18px;line-height:36px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四川科技职业学院鼎利学院（互联网+学院）自成立以来就是四川科技职业学院重点打造的二级学院。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 学院是四川科技职业学院与国内上市企业
                世纪鼎利（股票代码：300050）联合重点打造的校企合作、产教融合示范学院。致力于应用型人才的培养，特别重视产学结合、创新创业在人才培养中的重要作用。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 鼎利学院注重引进上市企业核心技术和资源，现拥有近百项软件专利、227项软件著作权、40余项自研高新技术产品，完成100多项软件和通信领域内的项目开发，所有成果用于学生实训教学过程。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                学院共享鼎利教育研究院成果，采用独特的
                UBL人才培养模式，基于“OBE”、“CDIO”工程教育思想，项目驱动、案例驱动教学。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 目前学院开设有通信技术、电子信息工程技术、计算机网络技术、软件技术、移动互联应用开发、物联网应用技术等专业方向，并在人工智能、大数据科学与应用、VR技术等方面成立科研工作室，在本科教育软件工程、通信工程、物联网工程等专业方面形成整体人才培养支撑。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;围绕就业和产业服务，学院借助鼎利教育和产业资源，与微软、IBM、华为、浪潮、上海电气自动化研究所、中核、中船、中国移动、中国电信、大唐移动通信等国内外一大批企业建立了合作伙伴关系，学生在学习期间可享受丰富的教育资源，毕业时经考核合格后可直接推荐就业于国内外知名合作企业。同时针对区域内行业需求，学院积极拓展天府软件园、视高工业园、孵化园、青羊工业园区、绵阳科技城等高新技术园区企业就业渠道，立足地方，服务区域经济。
                <br>&nbsp;&nbsp;<br>
              </p>
            </div>

            <div class="blog-gallery-img">
              <img width="950" height="550" src="{% static 'assets/images/xygk/4.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
            </div>

            <div class="blog-gallery-img">
              <img width="950" height="550" src="{% static 'assets/images/xygk/5.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
            </div>

            <div class="blog-gallery-img">
              <img width="950" height="550" src="{% static 'assets/images/xygk/6.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
            </div>

          </div>
        </div>


        <div class="col-md-4 col-lg-3 col-xs-12">
          <div id="categories-2" class="sidebar-widget widget_categories">
            <h3 class="sidebar-title">学院概况</h3>
            <ul>
              <li class="cat-item cat-item-22">
                <a href="xygk_xyjs.aspx">学院介绍</a>
              </li>
              <li class="cat-item cat-item-4">
                <a href="xygk_yzzc.aspx">院长寄语</a>
              </li>
              <li class="cat-item cat-item-6">
                <a href="xygk_xrld.aspx">现任领导</a>
              </li>
              <li class="cat-item cat-item-8">
                <a href="xygk_zzjg.aspx">组织架构</a>
              </li>

            </ul>
          </div>
        </div>


      </div>
      <br>
      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">02</span>
            <div class="title-text">
              <h2>专业学科</h2>
              <p>COLLEGE INTRODUCTION</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12">
          <p style="font-size:18px;line-height:36px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 学院根据国家政策导向、产业转型方向，满足社会就业供需，面对应用型本科层次和高等职业教育专科层次，开设5大应用型本科专业和12大高职专科专业，致力于相关行业高素质应用型人才“订单式”培养。目前川科鼎利学院（互联网
            <font size="1">+</font>学院）开设专科专业（方向）包括<strong>软件技术</strong>(Web、前端、测试、云计算技术与应用等方向）、<strong>移动互联应用技术</strong>（Android开发、测试等方向）、<strong>通信技术</strong>（移动通信网优网测方向、移动通信工程施工与监理等方向、虚拟现实VR、数据通信等）、<strong>物联网应用技术</strong>（物联网系统集成与管理、智能物流、智能家居等）、<strong>电子信息工程、计算机网络技术</strong>（智能网络技术、网站建设与维护、网络工程）等。
          </p>
          <div class="blog-slider">
            <div class="blog-gallery-img">
              <img width="950" height="550" src="{% static 'assets/images/xygk/7.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">03</span>
            <div class="title-text">
              <h2>创新理念</h2>
              <p>COLLEGE INTRODUCTION</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12">
          <p style="font-size:18px;line-height:36px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 以培养高素质应用型人才为根本，以改革创新为动力，以服务区域社会经济发展为目标，秉承“以产业带教育、以教育促产业”的教育理念，紧跟国家和行业发展步伐，大力革新办学体制、全面 创新教学模式，以切实提高高等职业教育教学质量，推进高校应用型转型发展，努力实现中国第一职业教育品牌的奋斗目标。
          </p>
          <div class="blog-slider">
            <div class="blog-gallery-img">
              <img width="950" height="550" src="{% static 'assets/images/xygk/7.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">04</span>
            <div class="title-text">
              <h2>建设目标</h2>
              <p>COLLEGE INTRODUCTION</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12 ">
          <p style="font-size:18px;line-height:36px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 川科鼎利学院自建院开始，就以打造川内一流、国内示范的校企合作、产教融合应用型人才培养学院为目标，学院工作以“<strong>学生满意度第一</strong>”为宗旨，在教学、学工、党团建设、实验实训环境、校企合作等方面全面服务建设目标。<br>
          </p>
          <div class="blog-slider">
            <div class="blog-gallery-img">
              <img width="950" height="550" src="{% static 'assets/images/xygk/jc_mb.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">05</span>
            <div class="title-text">
              <h2>线上平台</h2>
              <p>COLLEGE INTRODUCTION</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12">
          <p style="font-size:18px;line-height:36px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 川科鼎利学院自建院开始，就以打造川内一流、国内示范的校企合作、产教融合应用型人才培养学院为目标，学院工作以“<strong>学生满意度第一</strong>”为宗旨，在教学、学工、党团建设、实验实训环境、校企合作等方面全面服务建设目标。<br>
          </p>
          <div class="blog-slider">
            <div class="blog-gallery-img">
              <img width="950" height="550" src="{% static 'assets/images/xygk/zxs.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">06</span>
            <div class="title-text">
              <h2>学院特色</h2>
              <p>COLLEGE INTRODUCTION</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12">
        <div class="blog-info">
          <blockquote>
            <p>
            </p>
            <p style="font-size:18px;line-height:36px"><strong>办学原则</strong></p>
            <p style="font-size:18px;line-height:36px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;坚持内涵发展，围绕一流目标，提升办学质量。 <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;坚持服务产业，聚焦国家战略，增强核心能力 <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;坚持改革创新，深化产教融合，校企协同育人 <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;坚持团队建设，注重部门合作，凝聚发展合力 </p>
            <p style="font-size:18px;line-height:36px"><strong>学院特色</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创建了“产业带教育、教育促产业”的鼎利学院办学理念；<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确立了适应产业转型升级需要精准到岗位角色的培养目标；
              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;构建了独具特色的基于OBE的创新型UBL人才培养新模式；<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;构建了与行业对接紧密、特色鲜明、动态调整的课程体系；<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研发了既有扎实理论知识又嵌入真实项目案例的专业课程；<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创建了全面融入互联网技术教学的应用型人才培养新途径；<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创建了专兼结合的多元化“双师型”教师队伍的建设原则；<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建立了符合教师资格和专业标准培养培训和能力评测体系；<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研制了与专业课程实施相互配套的实验实训教学仪器设备；<br>&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研发了实现教学管理与服务的互联网+知新在线教育平台；<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;制定了体现职业教育特色全方位标准化规范化的管理制度。</p>
            <p><br></p>
            <p></p>
          </blockquote>
</div>
          <div class="blog-slider">
            <div class="blog-gallery-img">
              <img width="950" height="550" src="{% static 'assets/images/xygk/jc_ts.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
            </div>
          </div>
        </div>
      </div>

      <br>

            <div class="row">
              <div class="text-left">
                <div class="my-section-title">
                  <span class="section-serial">07</span>
                  <div class="title-text">
                    <h2>就业服务</h2>
                    <p>EMPLOYMENT SERVICE</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-lg-9 col-xs-12">
                <div class="blog-slider">
                  <div class="blog-gallery-img">
                    <img width="950" height="550" src="{% static 'assets/images/xygk/zxs.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
                  </div>
                </div>
              </div>
            </div>

    </div>
  </div>
{% endblock %}
