{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-special bg-img-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>移动应用开发专业</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}

<div class="single-service-area ptb-30">
    <div class="container">
        <!-- <div class="row">
          <div class="text-left">
            <div class="my-section-title">
              <span class="section-serial">01</span>
              <div class="title-text">
                <h2>UBL人才培养模式</h2>
                <p>主页人才培养</p>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-md-8 ptb-30">
            <div class="blog-wrapper">
                <!-- Start Title  -->
                <!-- End Title  -->
                <!-- Start Thumbnail  -->

                <!-- End Thumbnail  -->
                <div class="blog-meta">
                </div>
                <!-- Start info  -->
                <div class="blog-info">
                    <!--专业介绍开始-->
                    <h3>移动互联应用开发专业介绍</h3>
                    <span></span>
                    <h4>一、招生对象</h4>
                    <blockquote>
                        <p>普通高中毕业生或同等学历者</p>
                    </blockquote>
                    <h4>二、学制与学历</h4>
                    <blockquote>
                        <p>
                            学制：3年<br>
                            学历：专科
                        </p>
                    </blockquote>
                    <h4>三、专业方向</h4>
                    <blockquote>
                        <p>
                            Android手机应用开发、UI设计、移动应用测试、移动应用运营与维护
                        </p>
                    </blockquote>
                    <h4>四、培养目标</h4>
                    <blockquote>
                        <p>
                            理解移动网站、移动应用的项目开发及管理流程，具有基本的项目管理能力。
                            熟悉移动网站、移动应用的发展特点，把握移动互联网发展方向，具有移动应用开发规划能力。

                            掌握移动网站、移动应用的开发环境和开发工具，具有一定的应用软件的开发能力。
                            掌握计算机及互联网理论和技术等方面的基础知识，具有跟踪本学科发展动态的能力和一定的创新精神和科学研究能力。
                            理解移动应用开发项目管理流程，能独立进行移动网站、移动应用程序的开发和移植，同时具有良好的团队合作意识和较强的责任心。
                        </p>
                    </blockquote>
                    <h4>五、就业方向</h4>
                    <blockquote>
                        <p>本专业主要面向移动互联领域培养具有良好的软件工程素养和职业道德，具备较强的移动应用开发实践能力，毕业后能在IT行业、企事业单位从事移动应用软件开发与应用的专门技术人才。</p>
                        <p>主要岗位：android程序软件开发工程师、手机软件测试、UI设计等</p>
                    </blockquote>
                    <h4>六、可考证书</h4>
                    <blockquote>
                        <p>
                        </p>
                        <table width="100%" border="1" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="65">序号</td>
                                <td colspan="2">证书名称</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td colspan="2">
                                    <p>计算机等级证</p>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td colspan="2">
                                    <p>计算机软件考试</p>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td colspan="2">
                                    <p>网页制作</p>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td colspan="2">
                                    <p>平面设计师技术水平证书</p>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td colspan="2">
                                    <p>软件测试工程师技术水平证书</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                    </blockquote>
                    <h4>七、合作单位</h4>
                    <blockquote>
                        <p>
                        </p>
                        <table width="100%" border="1" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="65">序号</td>
                                <td colspan="2">单位名称</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td colspan="2">
                                    <p>敦阳泰克科技（成都）有限公司</p>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td colspan="2">
                                    <p>百度</p>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td colspan="2">
                                    <p>今日头条</p>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td colspan="2">
                                    <p>TCL移动</p>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td colspan="2">
                                    <p>英华达</p>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td colspan="2">
                                    <p>成都中科合迅科技有限公司</p>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td colspan="2">
                                    <p>成都鸿图讯科技有限公司</p>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td colspan="2">
                                    <p>凯嘉电脑</p>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td colspan="2">
                                    <p>政府事业单位档案管理中心</p>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td colspan="2">
                                    <p>湖南长城计算机</p>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td colspan="2">
                                    <p>苏宁</p>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td colspan="2">
                                    <p>京东</p>
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td colspan="2">
                                    <p>纬创资通</p>
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td colspan="2">
                                    <p>京东方</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                    </blockquote>
                    <h4>八、专业主干课</h4>
                    <blockquote>
                        <p>
                        </p>
                        <table width="100%" border="1" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="65px">序号</td>
                                <td colspan="2">课程模块</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td colspan="2">
                                    <p>移动应用开发职业导论</p>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td colspan="2">
                                    <p>职业文档阅读与写作</p>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td colspan="2">
                                    <p>职业设计与规划</p>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td colspan="2">
                                    <p>职业素质</p>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td colspan="2">
                                    <p>Web标识语言及解析</p>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td colspan="2">
                                    <p>软件技术职业和社会问题</p>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td colspan="2">
                                    <p>知识产权与法律法规</p>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td colspan="2">
                                    <p>技术与专业的沟通交流</p>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td colspan="2">
                                    <p>计算机应用基础</p>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td colspan="2">
                                    <p>Linux系统应用与配置</p>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td colspan="2">
                                    <p>Java面向对象程序设计基础</p>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td colspan="2">
                                    <p>移动应用专题开发</p>
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td colspan="2">
                                    <p>软件工程基础</p>
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td colspan="2">
                                    <p>移动应用开发基础</p>
                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td colspan="2">
                                    <p>Android移动应用开发综合实践</p>
                                </td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td colspan="2">
                                    <p>综合实践</p>
                                </td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td colspan="2">
                                    <p>仿真项目</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                    </blockquote>

                    <!--专业介绍 end-->
                </div>
                <!-- End info  -->
            </div>
        </div>


        <div class="col-md-4 ptb-30">
            <aside id="secondary" class="widget-area">
                <div id="categories-2" class="sidebar-widget widget_categories">
                    <h3 class="sidebar-title">我们的专业</h3>
                    <ul>
                        <!--<li class="cat-item cat-item-22">
                            <a href="zyjs_rjgc.aspx">软件工程（本科）</a>
                        </li>
                         <li class="cat-item cat-item-22">
                            <a href="zyjs_txgc.aspx">通信工程（本科）</a>
                        </li>-->
                  <li class="cat-item cat-item-22">
                    <a href="/special/3">软件技术（专科）</a>
                </li>
                <li class="cat-item cat-item-4">
                    <a href="/special/2">移动通信技术（专科）</a>
                </li>
                  <li class="cat-item cat-item-4">
                    <a href="/special/1">移动互联应用开发（专科）</a>
                </li>
                <li class="cat-item cat-item-6">
                    <a href="/special/5">电子信息技术（专科）</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="/special/4">物联网应用技术（专科）</a>
                </li>
                <li class="cat-item cat-item-23">
                    <a href="/special/6">计算机网络技术（专科）</a>
                </li>
                    </ul>
                </div>
            </aside>
        </div>

    </div>

</div>
</div>


{% endblock %}
