{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-special bg-img-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>移动通信技术专业</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}

<div class="blog-story-area pt-80">
                    <div class="container">
                        <div class="row">
                            <!-- single blog right sidebar start -->
                            <div class="col-md-8 ptb-30">
                                <div class="blog-wrapper">
                                    <!-- Start Title  -->
                                    <!-- End Title  -->
                                    <!-- Start Thumbnail  -->

                                    <!-- End Thumbnail  -->
                                    <div class="blog-meta">
                                    </div>
                                    <!-- Start info  -->
                                    <div class="blog-info">
                                        <!--专业介绍开始-->
                                        <h3>移动通信技术专业介绍</h3>
                                        <span></span>
                                        <h4>一、招生对象</h4>
                                        <blockquote>
                                            <p>普通高中毕业生或同等学历者</p>
                                        </blockquote>
                                        <h4>二、学制与学历</h4>
                                        <blockquote>
                                            <p>
                                                学制：3年<br>
                                                学历：专科
                                            </p>
                                        </blockquote>
                                        <h4>三、专业方向</h4>
                                        <blockquote>
                                            <p>
						移动通讯施工与监理、移动通信网络测试与优化、通信设备应用
						</p>
                                        </blockquote>
                                        <h4>四、培养目标</h4>
                                        <blockquote>
                                            <p>
                                                本专业以市场需求为导向，面向移动通信技术领域，培养热爱祖国，拥护党的基本路线，德、智、体、美等全面发展的，具备良好的职业技能、较强的动手能力和一定的创新能力及扎实的通信技术专业知识，具有良好的素质和职业道德，具备较强的通信技术领域工程实践能力、项目管理能力、沟通表达能力和创新创业能力并解决常见的通信领域问题的应用型工程人才。毕业后可以在中国移动、中国电信、中国联通等通信运营商等行业从事网络优化、网络测试、工程建设、维护管理以及通信产品服务营销工作。
                                            </p>
                                        </blockquote>
                                        <h4>五、就业方向</h4>
                                        <blockquote>
                                            <p>本专业主要向移动通信网络测试优化工程师、移动通信网络工程建设工程师、运维管理工程师、通信产品服务销售产品经理、项目经理等岗位工作。</p>
                                            <p>毕业后可以在中国移动、中国电信、中国联通等国有通信运营商企业、国外电信运营商企业、设备制造商以及通信产业链上的中间商、政府机关、企事业单位、无线电军工企业、教育、科研等移动通信行业从事移动通信网络测试与优化、网络规划、工程施工、设备制造、系统维护、产品销售、业务、后台运营与管理等工作。</p>
                                            <p>目前我国的通信技术已经领先世界，也是国家十三五规划以及 “中国制造2025”规划中重点发展的技术。学好移动通信技术，还可跟着华为、中兴去国外赚美金。</p>
                                        </blockquote>
										<h4>六、可考证书</h4>
                                        <blockquote>
                                            <p>
                                                </p><table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="65">序号</td>
                                                        <td colspan="2">证书名称</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td colspan="2">
                                                            <p>计算机等级证</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td colspan="2">
                                                            <p>计算机软件考试</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td colspan="2">
                                                            <p>通信助理工程师</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td colspan="2">
                                                            <p>监理工程师</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td colspan="2">
                                                            <p>初级无线网优工程师</p>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
											<p></p>
                                        </blockquote>
										<h4>七、合作单位</h4>
                                        <blockquote>
                                            <p>
                                                </p><table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="65">序号</td>
                                                        <td colspan="2">单位名称</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td colspan="2">
                                                            <p>汇源吉迅科技有限公司</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td colspan="2">
                                                            <p>成都广维科技有限公司</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td colspan="2">
                                                            <p>中翰万鸿科技有限公司</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td colspan="2">
                                                            <p>TCL移动</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td colspan="2">
                                                            <p>英华达</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td colspan="2">
                                                            <p>苏宁</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td colspan="2">
                                                            <p>京东</p>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
											<p></p>
                                        </blockquote>
                                        <h4>八、专业主干课</h4>
                                        <blockquote>
                                            <p>
                                                </p><table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="20px">序号</td>
                                                        <td colspan="2">课程模块</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td colspan="2">
                                                            <p>通信技术开发职业导论</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td colspan="2">
                                                            <p>职业文档阅读与写作</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td colspan="2">
                                                            <p>职业设计与规划</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td colspan="2">
                                                            <p>职业素质</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td colspan="2">
                                                            <p>计算机应用基础</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td colspan="2">
                                                            <p>通信原理</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td colspan="2">
                                                            <p>数据通信与计算机网</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td colspan="2">
                                                            <p>移动通信原理与应用</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td colspan="2">
                                                            <p>移动通信系统组建、运维与管理</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td colspan="2">
                                                            <p>电信工程项目设计与实施</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td colspan="2">
                                                            <p>光纤传输系统组建、运维与管理</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td colspan="2">
                                                            <p>通信终端检测与维护</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td colspan="2">
                                                            <p>移动无线网络测试优化综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>14</td>
                                                        <td colspan="2">
                                                            <p>移动通信网络工程监理维护综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>15</td>
                                                        <td colspan="2">
                                                            <p>移动通信产品销售服务综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>16</td>
                                                        <td colspan="2">
                                                            <p>移动通信工程服务市场调查综合实践</p>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td rowspan="6">17</td>
                                                        <td width="20px" rowspan="6" align="center" valign="middle">
                                                            <p align="center">综 合 实 践</p>
                                                        </td>
                                                        <td width="300px">
                                                            <p>移动通信网络勘察设计综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>无线信号评估项目综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>基站建设监理综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>通信产品服务销售综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>CT项目管理综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>CT产品销售与服务管理综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="6">19</td>
                                                        <td rowspan="6" align="center" valign="middle">
                                                            <p align="center">仿 真 项 目</p>
                                                        </td>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（网优网测）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（工程监理）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（销售服务）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </tbody></table>
                                            <p></p>
					<img src="/media/dimage/通信技术/通信三等奖.png" width="1010px" >
		<img src="/media/dimage/通信技术/通信（王莲）.png" width="1010px" >
                                        </blockquote>

                                        <!--专业介绍 end-->
                                    </div>
                                    <!-- End info  -->
                                </div>
                            </div>
                             <!--我们的专业小导航-->

<div class="col-md-4 ptb-30">
    <aside id="secondary" class="widget-area">
        <div id="categories-2" class="sidebar-widget widget_categories">
            <h3 class="sidebar-title">我们的专业</h3>
            <ul>
                <!--<li class="cat-item cat-item-22">
                    <a href="zyjs_rjgc.aspx">软件工程（本科）</a>
                </li>
                 <li class="cat-item cat-item-22">
                    <a href="zyjs_txgc.aspx">通信工程（本科）</a>
                </li>-->
                <li class="cat-item cat-item-22">
                    <a href="/special/3">软件技术（专科）</a>
                </li>
                <li class="cat-item cat-item-4">
                    <a href="/special/2">移动通信技术（专科）</a>
                </li>
                  <li class="cat-item cat-item-4">
                    <a href="/special/1">移动互联应用开发（专科）</a>
                </li>
                <li class="cat-item cat-item-6">
                    <a href="/special/5">电子信息技术（专科）</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="/special/4">物联网应用技术（专科）</a>
                </li>
                <li class="cat-item cat-item-23">
                    <a href="/special/6">计算机网络技术（专科）</a>
                </li>
            </ul>
        </div>
    </aside>
</div>

                              <!--我们的专业小导航end -->
                            <!--single blog right sidebar end -->
                        </div>
                    </div>
                </div>


{% endblock %}
