{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity  bg-img-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>电子信息技术专业</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="blog-story-area pt-80">
                    <div class="container">
                        <div class="row">
                            <!-- single blog right sidebar start -->
                            <div class="col-md-8 ptb-30">
                                <div class="blog-wrapper">
                                    <!-- Start Title  -->
                                    <!-- End Title  -->
                                    <!-- Start Thumbnail  -->

                                    <!-- End Thumbnail  -->
                                    <div class="blog-meta">
                                    </div>
                                    <!-- Start info  -->
                                    <div class="blog-info">
                                        <!--专业介绍开始-->
                                        <h3>电子信息技术专业介绍</h3>
                                        <span></span>
                                        <h4>一、招生对象</h4>
                                        <blockquote>
                                            <p>普通高中毕业生或同等学历者</p>
                                        </blockquote>
                                        <h4>二、学制与学历</h4>
                                        <blockquote>
                                            <p>
                                                学制：3年<br>
                                                学历：专科
                                            </p>
                                        </blockquote>
                                        <h4>三、专业方向</h4>
                                        <blockquote>
                                            <p>
						芯片集成技术
						</p>
                                        </blockquote>
                                        <h4>四、培养目标</h4>
                                        <blockquote>
                                            <p>
                                                本专业以岗位需求为导向，面向电子信息产业，将职业目标定位于产业链的各个环节，面向电子信息产业发展需求，以培养电子信息技术为核心、以提升专业素质为根本、以掌握胜任角色岗位所需知识与技能为目标，培养具有丰富产业经验，服务于电子信息产业升级，掌握先进生产、管理技术，在电子信息类的相关企业中，从事电子产品的生产、经营与技术管理和开发，拥有一定理论知识和深厚技术能力的高素质技术技能型人才。
                                            </p>
                                        </blockquote>
                                        <h4>五、就业方向</h4>
                                        <blockquote>
                                            <p>毕业生能在大型国企、军工企业、制造业世界五百强如Intel等企业从事生产管理，技术管理，电子设备的运行、操作、管理与维护，智能电子产品二次开发与系统集成，电子产品的销售、产品售后服务，IT运维等社会紧缺岗位工作。</p>
                                            <p>该专业毕业生具有宽领域工程技术适应性，就业面很广，就业率高，毕业生实践能力强，工作上手快，职业发展前景广阔。</p>

                                        </blockquote>
										<h4>六、可考证书</h4>
                                        <blockquote>
                                            <p>
                                                </p><table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="65">序号</td>
                                                        <td colspan="2">证书名称</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td colspan="2">
                                                            <p>计算机等级证</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td colspan="2">
                                                            <p>全国计算机及信息高新技术证书</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td colspan="2">
                                                            <p>电子设备装接工</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td colspan="2">
                                                            <p>电工</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td colspan="2">
                                                            <p>嵌入式助理工程师</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td colspan="2">
                                                            <p>计算机辅助设计师（Auto CAD）</p>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
											<p></p>
                                        </blockquote>
										<h4>七、合作单位</h4>
                                        <blockquote>
                                            <p>
                                                </p><table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="65">序号</td>
                                                        <td colspan="2">单位名称</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td colspan="2">
                                                            <p>广东偕行智能科技有限公司</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td colspan="2">
                                                            <p>牧东光电</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td colspan="2">
                                                            <p>光宝电子</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td colspan="2">
                                                            <p>TCL移动</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td colspan="2">
                                                            <p>英华达</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td colspan="2">
                                                            <p>成都中科合迅科技有限公司</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td colspan="2">
                                                            <p>凯嘉电脑</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td colspan="2">
                                                            <p>湖南长城计算机</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td colspan="2">
                                                            <p>苏宁</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td colspan="2">
                                                            <p>京东</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td colspan="2">
                                                            <p>纬创资通</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td colspan="2">
                                                            <p>京东方</p>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
											<p></p>
                                        </blockquote>
                                        <h4>八、专业主干课</h4>
                                        <blockquote>
                                            <p>
                                                </p><table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="20">序号</td>
                                                        <td colspan="2">课程模块</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td colspan="2">
                                                            <p>电子信息技术导论</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td colspan="2">
                                                            <p>职业文档阅读与写作</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td colspan="2">
                                                            <p>职业设计与规划</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td colspan="2">
                                                            <p>职业素质</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td colspan="2">
                                                            <p>计算机应用基础</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td colspan="2">
                                                            <p>电子技术基础</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td colspan="2">
                                                            <p>电子装联焊接技术基础</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td colspan="2">
                                                            <p>C程序设计</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td colspan="2">
                                                            <p>电子电路分析制作与调试</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td colspan="2">
                                                            <p>单片机技术基础与应用</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td colspan="2">
                                                            <p>传感器与检测技术</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td colspan="2">
                                                            <p>SMT生产技术</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td colspan="2">
                                                            <p>整机装联工艺与技术</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>14</td>
                                                        <td colspan="2">
                                                            <p>电子产品检验技术</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>15</td>
                                                        <td colspan="2">
                                                            <p>电气工程识图与CAD</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>16</td>
                                                        <td colspan="2">
                                                            <p>智能电子产品系统设计</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>17</td>
                                                        <td colspan="2">
                                                            <p>智能系统工程实训</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>18</td>
                                                        <td colspan="2">
                                                            <p>电子制作综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>19</td>
                                                        <td colspan="2">
                                                            <p>简单电子产品生产制造实训</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="4">20</td>
                                                        <td width="20" rowspan="4" align="center" valign="middle">
                                                            <p align="center">综 合 实 践</p>
                                                        </td>
                                                        <td width="300">
                                                            <p>电子制造综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>智能系统综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>技术服务及营销综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>嵌入式综合实践</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="4">21</td>
                                                        <td rowspan="4" align="center" valign="middle">
                                                            <p align="center">仿 真 项 目</p>
                                                        </td>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（电子制造工程师）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（智能系统工程师）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（技术服务及营销工程师）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（嵌入式工程师）</p>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            <p></p>
						<img src="/media/dimage/电子/电子刘小军.png" width="1010px" >
		<img src="/media/dimage/电子/20190413集成电路开发及应用大赛.jpg" width="1010px" >
		<img src="/media/dimage/电子/电子省赛邓春.png" width="1010px" >
                                        </blockquote>

                                        <!--专业介绍 end-->
                                    </div>
                                    <!-- End info  -->
                                </div>
                            </div>
                            <!--我们的专业小导航-->

<div class="col-md-4 ptb-30">
    <aside id="secondary" class="widget-area">
        <div id="categories-2" class="sidebar-widget widget_categories">
            <h3 class="sidebar-title">我们的专业</h3>
            <ul>
                <!--<li class="cat-item cat-item-22">
                    <a href="zyjs_rjgc.aspx">软件工程（本科）</a>
                </li>
                 <li class="cat-item cat-item-22">
                    <a href="zyjs_txgc.aspx">通信工程（本科）</a>
                </li>-->
                      <li class="cat-item cat-item-22">
                    <a href="/special/3">软件技术（专科）</a>
                </li>
                <li class="cat-item cat-item-4">
                    <a href="/special/2">移动通信技术（专科）</a>
                </li>
                  <li class="cat-item cat-item-4">
                    <a href="/special/1">移动互联应用开发（专科）</a>
                </li>
                <li class="cat-item cat-item-6">
                    <a href="/special/5">电子信息技术（专科）</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="/special/4">物联网应用技术（专科）</a>
                </li>
                <li class="cat-item cat-item-23">
                    <a href="/special/6">计算机网络技术（专科）</a>
                </li>
            </ul>
        </div>
    </aside>
</div>

                              <!--我们的专业小导航end -->
                            <!--single blog right sidebar end -->
                        </div>
                    </div>
                </div>
{% endblock %}
