{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-6">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>计算机网络技术专业</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="blog-story-area pt-80">
                    <div class="container">
                        <div class="row">
                            <!-- single blog right sidebar start -->
                            <div class="col-md-8 ptb-30">
                                <div class="blog-wrapper">
                                    <!-- Start Title  -->
                                    <!-- End Title  -->
                                    <!-- Start Thumbnail  -->

                                    <!-- End Thumbnail  -->
                                    <div class="blog-meta">
                                    </div>
                                    <!-- Start info  -->
                                    <div class="blog-info">
                                        <!--专业介绍开始-->
                                        <h3>计算机网络技术专业介绍</h3>
                                        <span></span>
                                        <h4>一、招生对象</h4>
                                        <blockquote>
                                            <p>普通高中毕业生或同等学历者</p>
                                        </blockquote>
                                        <h4>二、学制与学历</h4>
                                        <blockquote>
                                            <p>
                                                学制：3年<br>
                                                学历：专科
                                            </p>
                                        </blockquote>
                                        <h4>三、专业方向</h4>
                                        <blockquote>
                                            <p>
                                                安卓应用开发、智能网路技术、UI设计、区块链技术
                                            </p>
                                        </blockquote>
                                        <h4>四、培养目标</h4>
                                        <blockquote>
                                            <p>
                                                本专业以市场需求为导向，面向互联网行业培养热爱祖国，拥护党的基本路线，德、智、体、美等全面发展的，具备良好的职业技能、较强的动手能力和一定的创新能力及计算机网络专业技术理论，具备自主学习、沟通表达、团队协作、解决问题，保护知识产权等职业素养，毕业后能在互联网、信息领域、企事业单位从事计算机网络软硬件服务管理工作的高素质技术技能人才。
                                            </p>
                                        </blockquote>
                                        <h4>五、就业方向</h4>
                                        <blockquote>
                                            <p>本专业主要向网络综合管理、移动应用开发、Web前端开发、网站管理等岗位工作。</p>
                                            <p>毕业后可以在软件企业、政府机关、企事业单位、各类外资企业、电力、电信、汽车、房地产、金融、保险、税务、教育、科研等各个行业从事计算机网络建设、运行、维护和管理工作。</p>

											<p>同时，计算机网络技术可是“软硬都吃”的行业。</p>

                                        </blockquote>
										<h4>六、可考证书</h4>
                                        <blockquote>
                                            <p>
                                                </p><table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="65">序号</td>
                                                        <td colspan="2">证书名称</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td colspan="2">
                                                            <p>计算机等级证</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td colspan="2">
                                                            <p>计算机软件考试</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td colspan="2">
                                                            <p>CCNA（思科认证网络工程师）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td colspan="2">
                                                            <p>HCNA（华为认证网络工程师）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td colspan="2">
                                                            <p>网络工程师</p>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
											<p></p>
                                        </blockquote>
										<h4>七、合作单位</h4>
                                        <blockquote>
                                            <p>
                                                </p><table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="65">序号</td>
                                                        <td colspan="2">单位名称</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td colspan="2">
                                                            <p>敦阳泰克科技（成都）有限公司</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td colspan="2">
                                                            <p>百度</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td colspan="2">
                                                            <p>今日头条</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td colspan="2">
                                                            <p>TCL移动</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td colspan="2">
                                                            <p>英华达</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td colspan="2">
                                                            <p>成都中科合迅科技有限公司</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td colspan="2">
                                                            <p>成都鸿图讯科技有限公司</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td colspan="2">
                                                            <p>凯嘉电脑</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td colspan="2">
                                                            <p>政府事业单位档案管理中心</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td colspan="2">
                                                            <p>湖南长城计算机</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td colspan="2">
                                                            <p>苏宁</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td colspan="2">
                                                            <p>京东</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td colspan="2">
                                                            <p>纬创资通</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>14</td>
                                                        <td colspan="2">
                                                            <p>京东方</p>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
											<p></p>
                                        </blockquote>
                                        <h4>八、专业主干课</h4>
                                        <blockquote>
                                            <p>
                                                </p><table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="20">序号</td>
                                                        <td colspan="2">课程模块</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td colspan="2">
                                                            <p>计算机网络技术职业导论</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td colspan="2">
                                                            <p>职业文档阅读与写作</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td colspan="2">
                                                            <p>职业设计与规划</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td colspan="2">
                                                            <p>职业素质</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td colspan="2">
                                                            <p>Web标识语言及解析</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td colspan="2">
                                                            <p>计算机网络技术职业和社会问题</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td colspan="2">
                                                            <p>知识产权与法律法规</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td colspan="2">
                                                            <p>技术与专业的沟通交流</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td colspan="2">
                                                            <p>计算机应用基础</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td colspan="2">
                                                            <p>Web前端网页基础</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td colspan="2">
                                                            <p>计算机网络技术基础</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td colspan="2">
                                                            <p>程序逻辑与思维训练</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td colspan="2">
                                                            <p>Java面向对象程序设计基础</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>14</td>
                                                        <td colspan="2">
                                                            <p>数据库应用基础</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>15</td>
                                                        <td colspan="2">
                                                            <p>网络设备配置管理</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>16</td>
                                                        <td colspan="2">
                                                            <p>无线网络基础与接入配置</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>17</td>
                                                        <td colspan="2">
                                                            <p>静态网页设计综合应用实践课程包</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>18</td>
                                                        <td colspan="2">
                                                            <p>面向对象程序设计综合实践课程包</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="4">19</td>
                                                        <td width="20" rowspan="4" align="center" valign="middle">
                                                            <p align="center">综 合 实 践</p>
                                                        </td>
                                                        <td width="300">
                                                            <p>网络综合应用方向综合项目实践课程包</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>移动应用开发方向综合实践课程包</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>Web前端开发方向综合实践课程包</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>网站管理方向综合实践课程包</p>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td rowspan="4">20</td>
                                                        <td rowspan="4" align="center" valign="middle">
                                                            <p align="center">仿 真 项 目</p>
                                                        </td>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（网络综合应用）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（移动应用开发）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（Web前端开发）</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>产业仿真项目实践课程包（网站管理方向）</p>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            <p></p>
					<img src="/media/dimage/计网/计网苏绍培.jpg" width="1010px" >
                                        </blockquote>

                                        <!--专业介绍 end-->
                                    </div>
                                    <!-- End info  -->
                                </div>
                            </div>
                             <!--我们的专业小导航-->

<div class="col-md-4 ptb-30">
    <aside id="secondary" class="widget-area">
        <div id="categories-2" class="sidebar-widget widget_categories">
            <h3 class="sidebar-title">我们的专业</h3>
            <ul>
                <!--<li class="cat-item cat-item-22">
                    <a href="zyjs_rjgc.aspx">软件工程（本科）</a>
                </li>
                 <li class="cat-item cat-item-22">
                    <a href="zyjs_txgc.aspx">通信工程（本科）</a>
                </li>-->
                <li class="cat-item cat-item-22">
                    <a href="/special/3">软件技术（专科）</a>
                </li>
                <li class="cat-item cat-item-4">
                    <a href="/special/2">移动通信技术（专科）</a>
                </li>
                  <li class="cat-item cat-item-4">
                    <a href="/special/1">移动互联应用开发（专科）</a>
                </li>
                <li class="cat-item cat-item-6">
                    <a href="/special/5">电子信息技术（专科）</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="/special/4">物联网应用技术（专科）</a>
                </li>
                <li class="cat-item cat-item-23">
                    <a href="/special/6">计算机网络技术（专科）</a>
                </li>
            </ul>
        </div>
    </aside>
</div>

                              <!--我们的专业小导航end -->
                            <!--single blog right sidebar end -->
                        </div>
                    </div>
                </div>
{% endblock %}
