{% extends "base.html" %}
 {% load staticfiles %}
{% block banner %}
  <div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">
            <h2>成果中心</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>成果中心</h2>
              <p>ACHIEVEMENTS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12">
          <div class="single-service-wrap">
            <h3>著作出版</h3>
            <blockquote>
              <p>
                编写教材案例16套，完成36门核心课程的资源开发：<br>（1）编写教材《web数据描述语言及解析》 罗勇编写；<br>（2）编写教材《数据库应用技术》 王俊海、赵晓霞编写；<br>（2）《移动应用开发案例》五套&nbsp; 罗勇主编；<br>（3）小学期实训案例 一套 罗勇、赵晓霞主编；<br>（4）数据库应用技术教学案例一套王俊海主编；<br>（4）实践案例&nbsp;&nbsp; 7套&nbsp; 李嘉懿、肖军主编；<br>（5）录制交互设计和循环动效设计教学视频&nbsp;&nbsp;
                4部 李嘉懿老师录制；
              </p>
            </blockquote>


            <h3>学术论文</h3>
            <blockquote>
              <p>
                （1）《语音编码算法在局域网通信系统中的优化实现》娄秀丽<br>（2）《基于波特间隔均衡的无线通信信道优化技术探讨》娄秀丽<br>（3）《走进机器人的世界》 陶薇薇<br>（4）《MAX17222升压调节器》陶薇薇<br>（5）《物联网NB-IoT技术解析》刘桄序 陶薇薇<br>（6）《 物联网无线传感器网络中传感器应用热点》刘桄序 <br>（7）《基于Linux系统实现DragonBoard 410c GPIO的控制》刘桄序<br>（8）《“互联网+”与“双创双元”人才培养模式的创新与研究》叶林<br>（9）《校企共建鼎利学院模式的探索》——叶林
                2017-12半月刊,《教学考试》 <br>（10）《国际视域下“现代工匠”培养模式与实践探索》——叶林，2017-6-7下旬刊，《教育论坛》
              </p>
            </blockquote>

            <h3>科研课题</h3>
            <blockquote>
              <p>
                1、主导成功申请团中央国家课题1项（填补国内空白）——以“产教融合为引领、构建团学SOP管理体系”；<br>2、成功完成四川省教育厅重点课题结题项目报告——仿真机器人实训中心建设项目，实现学校省级100万资金的验收；<br>3、获得2018年四川省教育厅重点项目课题1项《工业4.0背景下电子产品智能制造课程改革与探索》；一般课题两项，分别是《基于慧鱼组件的越障机器人研究与实践》、《运用大数据提升交通管理能力的研究》<br>
              </p>
            </blockquote>

            <h3>发明专利</h3>
            <blockquote>
              <p>
                大赛一等奖成果获得实用性专利1项、发明专利1项——快递问题件服务机器人
              </p>
            </blockquote>

            <h3>竞赛荣誉</h3>
            <blockquote>
              <p>
                1、大赛一等奖成果获得实用性专利1项、发明专利1项——快递问题件服务机器人；<br>2、获得国内省级大赛一等奖1项，二等奖2项，三等奖6项；<br>3、成功举办教育部第三届互联网+大赛校内选拔赛，并代表川科参加省级赛事和鼎利杯全国赛，获得国赛三等奖；<br>4、代表川科参加首届四川省“黄炎培”创新创业大赛，获得省赛一等奖，并直接进入全国决赛；<br>（1）四川省软件测试技能大赛团体二等奖、团体优胜奖<br>（2）计算机"华迪杯"作品赛省赛 一等奖&nbsp;&nbsp;&nbsp;
                <br>（3）计算机"中星杯"作品赛 省赛 二等奖&nbsp;&nbsp;&nbsp; <br>（4）全国鼎利杯双创大赛&nbsp; 三等奖&nbsp;&nbsp;&nbsp;&nbsp; <br>（5）全国机器人设计大赛省赛&nbsp; 三等奖 <br>（6）全国Ti杯电子设计大赛省赛 三等奖<br>
              </p>
            </blockquote>

            <h3>知识著作权</h3>
            <blockquote>
              <p>
                <b>2016-2017川科教学团队完成课程专利著作权3项，作品著作权11项。</b><br>（1）软件著作权：3-罗勇、王俊海<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ultrawise团队账务管理系统<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ultrawise团队点餐管理系统<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ultrawise学生作业检查系统<br>（2）作品著作权：11-罗勇、王俊海<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                团队账务管理系统－教学文档
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 团队账务管理系统－开发文档<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 团队点餐管理系统－教学文档<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 团队点餐管理系统－开发文档<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 学生作业检查系统－教学文档<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                学生作业检查系统－开发文档
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 计算机网络技术课程－电子教案<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 计算机网络技术课程－习题作业<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 计算机网络技术课程－课程试卷<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 计算机网络技术课程－教学课件<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                计算机网络技术课程－题库
                <br>
              </p>
            </blockquote>

            <h3>案例研发</h3>
            <blockquote>
              <p>
                无
              </p>
            </blockquote>


            <h3>其他</h3>
            <blockquote>
              <p>
                无
              </p>
            </blockquote>

          </div>
        </div>

      </div>
      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">02</span>
            <div class="title-text">
              <h2>成果图集</h2>
              <p>GALLERY</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static 'assets/images/gallery-1-18225472.jpg' %}"  alt="" sizes="(max-width: 750px) 100vw, 750px"></img>
        </div>
      </div>
    </div>
  </div>


{% endblock %}