{% extends "base.html" %}
{% block banner %}
  <div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">
            <h2>软件技术专业</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <!-- <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>UBL人才培养模式</h2>
              <p>主页人才培养</p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12">
          <div class="single-service-wrap">

            <!-- Start Title  -->
            <!-- End Title  -->
            <!-- Start Thumbnail  -->

            <!-- End Thumbnail  -->

            <!-- Start info  -->



            <!-- Start info  -->
            <div class="blog-info">
              <!--专业介绍开始-->
              <h4>软件技术专业介绍</h4>
              <span></span>
              <h4>一、招生对象</h4>
              <blockquote>
                <p>普通高中毕业生或同等学历者</p>
              </blockquote>
              <h4>二、学制与学历</h4>
              <blockquote>
                <p>学制：3年<br> 学历：专科
                </p>
              </blockquote>
              <h4>三、专业方向</h4>
              <blockquote>
                <p>
                  软件测试技术、网路软件技术、前端开发技术
                </p>
              </blockquote>
              <h4>四、培养目标</h4>
              <blockquote>
                <p>
                  本专业以市场需求为导向，面向互联网+软件行业培养热爱祖国，拥护党的基本路线，德、智、体、 美等全面发展的，具备良好的职业技能、较强的动手能力和一定的创新能力及软件开发专业技术理论，具备自主学习、 沟通表达、团队协作、解决问题，保护软件知识产权等职业素养，毕业后能在互联网、信息领域、企事业单位从事软件系统 开发和管理工作的高素质技术技能人才。
                </p>
              </blockquote>
              <h4>五、就业方向</h4>
              <blockquote>
                <p>本专业主要面向Web前端开发、后端软件开发、Android手机软件开发、软件UI设计、软件测试、软件运维等岗位工作。</p>
                <p>毕业后可以在大中小型软件企业、外资软件企业、政府机关、企事业单位、科研单位从事<b>互联网+生活、娱乐、金融、教育、医疗、保险、健康等行业</b>软件开发设计工作。</p>
                <p>同时，软件行业也是创业成功率最高的行业。</p>
              </blockquote>
              <h4>六、可考证书</h4>
              <blockquote>
                <p>
                </p>
                <table width="100%" border="1" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="65">序号</td>
                      <td colspan="2">证书名称</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td colspan="2">
                        <p>计算机等级证</p>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td colspan="2">
                        <p>计算机软件考试</p>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td colspan="2">
                        <p>网页制作</p>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td colspan="2">
                        <p>平面设计师技术水平证书</p>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td colspan="2">
                        <p>软件测试工程师技术水平证书</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p></p>
              </blockquote>
              <h4>七、合作单位</h4>
              <blockquote>
                <p>
                </p>
                <table width="100%" border="1" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="65">序号</td>
                      <td colspan="2">单位名称</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td colspan="2">
                        <p>敦阳泰克科技（成都）有限公司</p>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td colspan="2">
                        <p>光宝电子</p>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td colspan="2">
                        <p>百度</p>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td colspan="2">
                        <p>今日头条</p>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td colspan="2">
                        <p>TCL移动</p>
                      </td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td colspan="2">
                        <p>英华达</p>
                      </td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td colspan="2">
                        <p>成都中科合迅科技有限公司</p>
                      </td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td colspan="2">
                        <p>成都鸿图讯科技有限公司</p>
                      </td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td colspan="2">
                        <p>凯嘉电脑</p>
                      </td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td colspan="2">
                        <p>苏宁</p>
                      </td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td colspan="2">
                        <p>京东</p>
                      </td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td colspan="2">
                        <p>纬创资通</p>
                      </td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td colspan="2">
                        <p>京东方</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p></p>
              </blockquote>
              <h4>八、专业主干课</h4>
              <blockquote>
                <p>
                </p>
                <table width="100%" border="1" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="20px">序号</td>
                      <td colspan="2">课程模块</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td colspan="2">
                        <p>软件技术开发职业导论</p>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td colspan="2">
                        <p>职业文档阅读与写作</p>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td colspan="2">
                        <p>职业设计与规划</p>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td colspan="2">
                        <p>职业素质</p>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td colspan="2">
                        <p>Web标识语言及解析</p>
                      </td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td colspan="2">
                        <p>软件技术职业和社会问题</p>
                      </td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td colspan="2">
                        <p>知识产权与法律法规</p>
                      </td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td colspan="2">
                        <p>技术与专业的沟通交流</p>
                      </td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td colspan="2">
                        <p>计算机应用基础</p>
                      </td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td colspan="2">
                        <p>Web前端网页基础</p>
                      </td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td colspan="2">
                        <p>计算机网络技术基础</p>
                      </td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td colspan="2">
                        <p>程序逻辑与思维训练</p>
                      </td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td colspan="2">
                        <p>Java面向对象程序设计基础</p>
                      </td>
                    </tr>
                    <tr>
                      <td>14</td>
                      <td colspan="2">
                        <p>数据库应用基础</p>
                      </td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td colspan="2">
                        <p>软件工程基础</p>
                      </td>
                    </tr>
                    <tr>
                      <td>16</td>
                      <td colspan="2">
                        <p>静态网页设计综合应用实践课程包</p>
                      </td>
                    </tr>
                    <tr>
                      <td>17</td>
                      <td colspan="2">
                        <p>面向对象程序设计综合实践课程包</p>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="6">18</td>
                      <td width="20px" rowspan="6" align="center" valign="middle">
                        <p align="center">综 合 实 践</p>
                      </td>
                      <td width="300px">
                        <p>软件开发综合项目实践课程包</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>软件UI界面设计综合实践课程包</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>Android应用开发综合实践课程包</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>Web前端开发综合实践课程包</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>软件测试综合实践课程包</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>运维综合实践课程包</p>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="6">19</td>
                      <td rowspan="6" align="center" valign="middle">
                        <p align="center">仿 真 项 目</p>
                      </td>
                      <td>
                        <p>产业仿真项目实践课程包（开发）</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>产业仿真项目实践课程包（UI）</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>产业仿真项目实践课程包（Android应用开发）</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>产业仿真项目实践课程包（前端）</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>产业仿真项目实践课程包（测试）</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>产业仿真项目实践课程包（运维）</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p></p>
              </blockquote>
            </div>

            <!-- End info  -->


          </div>


        </div>
        <div class="col-md-4 col-lg-3 col-xs-12">

          <h3 class="sidebar-title">我们的专业</h3>
          <ul>
            <!--<li class="cat-item cat-item-22">
                   <a href="zyjs_rjgc.aspx">软件工程（本科）</a>
               </li>
                <li class="cat-item cat-item-22">
                   <a href="zyjs_txgc.aspx">通信工程（本科）</a>
               </li>-->
            <li class="cat-item cat-item-22">
              <a href="zyjs_rjjs.aspx">软件技术（专科）</a>
            </li>
            <li class="cat-item cat-item-4">
              <a href="zyjs_ydtx.aspx">移动通信技术（专科）</a>
            </li>
            <li class="cat-item cat-item-4">
              <a href="zyjs_ydapp.aspx">移动互联应用开发（专科）</a>
            </li>
            <li class="cat-item cat-item-6">
              <a href="zyjs_dzjs.aspx">电子信息技术（专科）</a>
            </li>
            <li class="cat-item cat-item-8">
              <a href="zyjs_wlwjs.aspx">物联网应用技术（专科）</a>
            </li>
            <li class="cat-item cat-item-23">
              <a href="zyjs_jsjwl.aspx">计算机网络技术（专科）</a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>

{% endblock %}