{% extends "base.html" %}
{% block banner %}
  <div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">
            <h2>UBL人才培养模式</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <!-- <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>UBL人才培养模式</h2>
              <p>主页人才培养</p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-8 col-lg-9 col-xs-12">
          <div class="single-service-wrap">

            <!-- Start Title  -->
            <!-- End Title  -->
            <!-- Start Thumbnail  -->

            <!-- End Thumbnail  -->

            <!-- Start info  -->
            <div class="blog-info">

              <h4>UBL人才培养模式简介</h4>
              <p>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UBL(UBL，Ultrawise Blended Link)人才培养模式由“教育云、产业云”构成，以超级混合式构建教育紧密衔接产业的人才生态系统。采用“把项目转换为教学案例”的表现形式，“实训+实习”的教学形态，“做中学”的教学方式。通过仿真案例及实训，积累真实的项目经验，让学生毕业即带有两年的工作经验走进职场，实现高起点、高薪就业。</p>

              <blockquote>
                <p>第一年学习：学习专业基本知识及理论，了解专业并掌握专业基础技能。</p>
                <p>第二年学习：通过仿真案例，进入仿真实训阶段，具备行业人才标准初级水平。</p>
                <p>第三年学习：通过真实项目实训，具备独立思考和解决问题能力，能胜任相关行业岗位。</p>
              </blockquote>
              <!--UBL图片-->
              <div id="gallery-2" class="gallery galleryid-336 gallery-columns-1 gallery-size-full">
                <figure class="gallery-item">
                  <div class="gallery-icon landscape">
                    <a href="import/images/ubl.png" target="_blank">
                                                      <img width="950" height="550" src="/static/assets/images/ubl.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
                                                  </a>
                  </div>
                  <figcaption class="wp-caption-text gallery-caption" id="gallery-2-161">智翔教育UBL人才培养模式图
                  </figcaption>
                </figure>
                <br>
                <figure class="gallery-item">
                  <div class="gallery-icon landscape">
                    <a href="import/images/ubl2.png" target="_blank">
                                                      <img width="950" height="550" src="/static/assets/images/ubl2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 950px) 100vw, 950px">
                                                  </a>
                  </div>
                  <figcaption class="wp-caption-text gallery-caption" id="gallery-2-161">智翔教育UBL人才培养模式图
                  </figcaption>
                </figure>
              </div>

              <br>

              <h4>L0-L50  技能储备阶段</h4>
              <blockquote>
                <p>周期：第一、二、三学期</p>
                <p>培养目标：具备完整的工程知识体系、掌握项目开发常用知识点的基本应用、具备一定的工程开发的规范度和熟练度。</p>
                <p>培养思路：本阶段即基础教学阶段，采用淡化专业的“大工科” 教育思想。根据电子信息产业的技术发展方向，制定相应的合格人才标准。由智翔教育提供课程体系与师资培训，并为院校提供专家讲座、技术研讨、学生大赛、学期实训等相应服务。</p>

              </blockquote>
              <h4>L5O-L100  仿真实训阶段</h4>
              <blockquote>
                <p>周期：第四学期</p>
                <p>培养目标：具备项目工程思想、能够根据项目分工完成工作任务、具备企业相关岗位的技能要求。</p>
                <p>培养思路：本阶段即专业教学阶段，采用案例式驱动教学思想。根据智翔教育与国际知名厂商合作积累的产业项目经验，将相关的产业技术和业务流程开发成仿真实训案例，并在实训基地搭建产业环境，学生以角色扮演的方式进入到仿真案例中，在项目经理的指导下,进行仿真实训学习。还可以根据学习效果,相应调整职业发展方向及所扮演角色。</p>

              </blockquote>
              <h4>L100-L200  岗位实训阶段</h4>
              <blockquote>
                <p>周期：第五、六学期</p>
                <p>培养目标：胜任项目开发相关岗位的综合要求、具备独立思考和解决问题的能力、具备项目创新能力。</p>
                <p>
                  培养思路：本阶段即毕业设计与顶岗实习阶段，采用还原企业岗前培训与试用期锻炼的教学思想。本阶段引入适合于学员所学专业与职业发展的国际化产业项目，注入500强企业的管理规范和制度，并配以经验丰富的高级项目经理作为职业导师进行实时指导。在融入的过程中，学员不仅可以掌握项目所需技能和业务经验，而且能够体验企业的工作氛围与规范，在良好氛围中，树立正确的职业规划和价值观，完成社会人向职业人的角色彻底转变。
                </p>

              </blockquote>
              <h4>L200-L300  实习就业阶段</h4>
              <blockquote>
                <p>培养周期：毕业后一年</p>
                <p>培养目标：成为知名电子信息产业公司所需人才。</p>
                <p>
                  培养思路：本阶段即职业规划阶段，本阶段依托智翔教育众多国际厂商的合作伙伴和供应商资质，为优秀学员提供派遣机会，根据学员的自身情况和能力特点，安排适合于个人发展的大型公司环境和岗位。在此过程中，优秀学员可以充分了解所在行业的具体情况，做出正确的职业生涯发展选择。
                </p>

              </blockquote>
            </div>
            <!-- End info  -->


          </div>


        </div>
        <div class="col-md-4 col-lg-3 col-xs-12">

          <h3 class="sidebar-title">人才培养</h3>
          <ul>
            <li class="cat-item cat-item-22">
              <a href="/index03/1">UBL人才培养模式</a>
            </li>
            <li class="cat-item cat-item-4">
              <a href="/special/1">专业介绍</a>
            </li>
            <li class="cat-item cat-item-6">
              <a href="/index03/3">成果展示</a>
            </li>
            <!--<li class="cat-item cat-item-8">-->
              <!--<a href="characteristic.aspx">特色班计划</a>-->
            <!--</li>-->

          </ul>

        </div>
      </div>

    </div>
  </div>

{% endblock %}