{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
{% endblock %}
{% block content %}
<div class="breadcumb-area black-opacity bg-img-6">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>招生工作</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <!--<li><a href="index.html">Home</a></li>-->
                        <!--<li>/</li>-->
                        <li><a href="/">首页</a></li>
                        <li>/</li>
                        <li>招生介绍</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="blog-details-area ptb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="blog-details-wrap">
                  <!--  <div class="blog-details-img">
                        <img src="/static/assets/images/WechatIMG208.jpeg" alt="">
                    </div>
                    <div class="blog-details-img">
                        <img src="/static/assets/images/WechatIMG209.jpeg" alt="">
                    </div>
                    <div class="blog-details-img">
                        <img src="/static/assets/images/WechatIMG210.jpeg" alt="">
                    </div>
                    <div class="blog-details-img">
                        <img src="/static/assets/images/WechatIMG211.jpeg" alt="">
                    </div>
		-->

		   <div class="blog-details-img">
                        <img src="/media/CKEDITOR/2019/06/21/ilbnuf.jpg
" alt="" width="1280px">
                    </div>
		   <div class="blog-details-img">
                        <img src="/media/CKEDITOR/2019/06/21/2.jpg
" alt="" width="1280px">
                    </div>
		   <div class="blog-details-img">
                        <img src="/media/CKEDITOR/2019/06/21/3.jpg
" alt="" width="1280px">
                    </div>
                    <div class="blog-details-content">

                        <blockquote>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四川科技职业学院是国家计划内全日制普通高等院校，为加快推进高职(专科)院校分类考试，深化高职院校招生改革，更好地培养适应经济社会发展的高技能人才,选拔综合素质高、创新实践能力强的优秀学生和特殊人才，经四川省教育厅、四川省教育考试院批准，2019年我校将继续面向全省开展单独招生工作。 根据四川省高等教育招生考试委员会和四川省教育厅《关于做好2019年高等职业院校单独招生工作的通知》（川招考委〔2018〕69号）文件相关规定和要求，结合我校单独招生工作的具体情况，特制定本章程。
                        </blockquote>


                        <h3>学院概况</h3>

                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四川科技职业学院，是经国家教育部备案，涵盖新工科、新商科、新医科、新文科、新艺术等多学科综合发展的全日制、综合性、应用型普通高等院校，面向全国统一招生，在校生规模近17000人。

学校秉承“修德、技精、勤思、协作”的校训，围绕“习术立业，中西合璧”的教育理念，践行“用明天的主流技术培养今天的人才”的办学宗旨，以“倾力打造东方加州理工学院”为办学愿景，着力探索以培养创新创业精神和实践能力为重点、基于“产学研创用”全程结合的人才培养新模式与新思路，同时将人才培养纳入高水平科技创新平台建设规划中，全链条式培养具有产业全局视野的高端应用型人才。

2017年6月，学校被四川省人民政府纳入“十三五”本科高校规划。</p>

                        <h3>组织保证</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、我校高职单招工作遵循公平、公正、公开、程序规范、自我约束、社会监督的原则，严格实施招生“阳光工程”；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、高职单招工作接受省招考委、省教育厅和省教育考试院的指导和监督；接受社会各界的监督，在学校招生委员会领导下进行；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、学校成立单独招生工作领导小组，负责制定招生政策，讨论决定招生重大事宜；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、单独招生工作领导小组下设四个工作组：考务工作小组、招生录取小组、安全保卫与综合服务小组、纪检监察小组，负责单独招生各项日常工作；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、纪检监察小组负责对单独招生工作全过程纪检监督，保证招生考试、录取工作公开、公正、公平；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、在单独招生录取过程中，学院设立考生来信、来访及违规举报接待办公室，负责受理考生提出的有关问题或举报。</p>

                                           <h3>报考条件</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、招生对象：已报名参加2019年四川省普通高考并取得14位考生号的考生。
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、报考条件
                            <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①遵守中华人民共和国宪法和法律；
                            <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②身体健康。符合《普通高等学校招生体检工作指导意见》及有关补充规定。</p>


                        <h2>考生报名和资格审核</h2>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019年高职单招报名实行网上统一填报的方式，分院校志愿填报和专业志愿填报两个阶段。<br>

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、院校志愿填报：报考考生本人应于2019年3月3日8:00至15日18:00，登录省教育考试院网站（http://www.sceea.cn），按要求准确填写有关信息，填报高职单招学校志愿。学校志愿设置为1个，考生须在规定的时间内在网上填报并提交确定。在规定的报名时间内，考生可以修改学校志愿。逾期不再补报，也不得再修改填报的志愿。因考生本人疏漏或失误造成的后果，由考生本人承担；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、专业志愿填报：考生应于2019年3月19日8:00至25日18:00，登录我校官网（http://www.scstc.cn），确定报考的专业志愿及缴纳报名及考试费130元/人并填写《四川科技职业学院2019年单独招生报名表》，也可以到我校招生办公室（天府新区视高经济开发区花海大道大学路1号）现场确认专业志愿及缴纳报名考试费并填写《四川科技职业学院2019年单独招生报名表》；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、信息确认及领取准考证：参加我校单独招生报名的考生应于2019年3月29日8:00--18:00到学校进行报名信息现场确认（须提供户口簿或考生本人身份证）及领取准考证，熟悉考场；逾期未经现场确认的考生视作自动放弃，不得参加考试。</p>

                        <h2>招生专业及计划</h2>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、2019年我校单独招生共投放招生计划3597名：其中，普通类2450名，对口高职（含中专、技校）类1147名。

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、招生专业、招生计划如下表：</p>

                    <div class="blog-details-img">
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="/static/img/计划表.jpg" alt=""><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：单独招生专业、招生人数以四川省教育厅和教育考试院审批统一公布为准。
                    </div>




                        <h2>考核办法</h2>
                        <p><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、考试科目：我校单独招生考试由文化考试和综合素质测试（或职业技能测试）组成

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①文化考试总分300分，三科分卷考试科目及占比为语文（60%）、数学（20%）、英语（20%）；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②综合素质测试（或职业技能测试）总分300分；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;③考生总成绩为文化考试成绩（占总成绩40%）+综合素质测试（或职业技能测试）成绩（占总成绩60%）。



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、考试内容：

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①普通高中类考生参加文化考试及综合素质测试；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②中职类考生参加文化考试及职业技能测试（含面试）；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;③文化考试由省教育考试院统一命题，分普通高中类试卷和中职类试卷，我校自行阅卷评分；

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;④综合素质测试（职业技能测试）由我校自主命题并进行测试及评分，采用现场考核和问答的方式进行，主要对考生仪态仪表、价值取向、语言沟通、逻辑思维、个人展示、职业倾向、专业基础及基本专业技能（中职类考生）等项目进行考察。



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、考试地点：四川科技职业学院，地址：天府新区视高经济开发区花海大道大学路1号



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、考试时间：

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①2019年3月29日8:00--18:00考生领取准考证并熟悉考场。空中乘务、民航运输专业考生参加综合素质测试（职业技能测试）。

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②2019年单独招生考试科目及时间安排：</p>
                                            <div class="blog-details-img">
                        <img src="/static/img/时间表1.jpg" alt="">
                    </div>


                        <h2>录取</h2>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、我校根据招生计划、参考人数及考生考试后成绩总体情况分类别划定文化考试、综合素质测试（职业技能测试）及总成绩的合格线；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、在文化考试、综合素质测试（职业技能测试）及总成绩均上线的考生中，按照考生类别从高分到低分录取；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、若录取过程中出现成绩总分相同，则按照填报专业依次比较考生文化成绩总分、语文、数学、外语成绩；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、拟录取考生名单在我校官方网站公示7天，接受社会监督。公示期满后，我校将拟录取考生名单上报四川省教育考试院核准备案，办理相关录取手续，并发放录取通知书；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、在拟录取名单公示期间，如有考生申请放弃录取，则在未录取考生中择优补充录取；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、我校单独招生录取考生，与普通高校招生考试录取考生享受同等待遇，不得再参加当年的普通高考和对口升学考试，未被录取的考生则可参加六月份的普通高校或对口高职招生统一考试，不影响其正常录取。

</p>
                        <h2>免试及加分</h2>
                        <p>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、免试录取条件：获得由教育部主办或联办的全国职业院校技能大赛三等奖及以上奖项或由省级教育行政部门主办或联办的省级职业院校技能大赛一等奖的中等职业学校应届毕业生，和具有高级工或技师资格（或相当职业资格）、获得县级劳动模范先进个人称号的在职在岗中等职业学校毕业生；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、免试录取申请办法：考生向我校提出免试申请，申请时，须提交的材料有《四川科技职业学院2019年单独招生免试申请表》、获奖证书、技能资格证书和二代身份证原件及复印件，由学院组织复核，认定合格者录入相关对口类专业。经学校认定后，按拟免试录取名单公示7天，随学校全部拟录取名单一并报省教育考试院审定后，办理录取手续。在办完免试手续并正式录取前，申请考生应正常参加我校的高职单招考试。</p>
                        <h2>工作日程</h2>
                        <p>时间工作安排：

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3月3日8:00—3月15日18:00考生登录四川省教育考试院（www.sceea.cn）单独招生报名网站进行院校志愿填报；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3月19日8:00—3月25日18:00考生登录我校官网（www.scstc.cn）进入单独招生报名系统进行专业志愿填报及缴费，提交报名信息；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3月27日考生登录我校单独招生报名系统查询拟参加资格审查名单；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3月29日8:00—18:00审查合格的考生到我校进行现场信息确认及领取准考证、熟悉考场。报考空中乘务、民航运输专业考生参加综合素质测试（职业技能测试）；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3月30日9:00—11:30文化考试（笔试）；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3月30日13:00—18:30综合素质测试、职业技能测试；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4月4日考生在我校单独招生网进查询考试成绩。对成绩有异议的考生，可本人持准考证于4月4日18:00前到我校招生办公室进行成绩复核，逾期不再办理；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4月5日考生可登陆我校单独招生报名系统查询拟录取信息；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4月5日—4月11日拟录取考生在拟录取名单公示期间可申请放弃录取。申请放弃录取的考生须在4月11日16:00前持身份证、考生本人及家长签字的放弃录取申请书至我校办理放弃录取手续；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4月12日我校将拟录取考生名单上报四川省教育考试院核准备案后办理正式录取手续。



</p>
                        <h2>新生注册和复查</h2>
                        <p><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、凡经我校单独招生被录取的新生，须在录取通知书规定的时间内到校报到，逾期未报到者，学校将取消入学资格；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、新生入学后，学校将进行复查，对不符合报名条件或经查有舞弊行为的，将取消其入学资格。</p>
                        <h2>其他事宜</h2>
                        <p><br>1、考生被学校正式录取后，与高考普招新生享受同等待遇；考生被学校正式录取后，不能再参加普通高校招生全国统一考试及录取、高职对口招生考试及录取；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、凡经单独招生考试就读我校的新生进校后可根据学籍管理办法申请转专业，但普通类与艺体类专业不能互换。



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、本章程以四川省教育厅、四川省教育考试院核准备案公布的为准，由我校招生办公室负责解释。</p>
                        <h2>招生咨询及录取信息查询</h2>
                        <p><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、我校在单独招生报名及录取期间将在学校招生信息网中及时公布各类招考信息；



<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、我校单独招生相关信息可通过以下途径咨询或查询：

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校官方网站：http://www.scstc.cn

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招生信息网：http://zs.scstc.cn

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招生咨询QQ：800067858

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;招生办公室咨询电话：028-36792608、36792609、36792611、36792612

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校官方QQ群：710036010

</p>


                        <!--<ul>-->
                            <!--<li>Sed ut perspiciatis unde omnis</li>-->
                            <!--<li>Lingues es membres del sam familie</li>-->
                            <!--<li>Lorem ipsum dolor sit amet</li>-->
                            <!--<li>This is Lorem ipsum dolor sit amet</li>-->
                            <!--<li>consectetur adipisicing elit</li>-->
                        <!--</ul>-->

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
