<!-- footer-area start  -->
{% load staticfiles %}
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12  col wow fadeInUp" data-wow-delay=".1s">
                    <div class="footer-widget footer-logo">
                        <div class="single-footer">
                            <div class="footer-logo">
                                <a href="#" class="logo-footer">
                                    <img alt="Footer logo" src="{% static 'assets/images/footer-logo.png' %}"></a>
                            </div>
                            <div class="footer-brief">
                                <p>
                                    以国际工程教育认证标准设计高素质应用型人才培养方案，尊重教学规律，遵循教学规范，构建真正产教融合生态，做有情怀的职业教育领导者。

                                </p>
                            </div>
                            <div class="footer-widget instagram-wrap">
                                <ul>
                                    <li><a href="#"><img src="/static/assets/images/dlxy_ewm.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="/static/assets/images/zxjy_erm.jpg" alt=""></a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                    <div class="footer-widget footer-menu">

                        <h2>网站导航</h2>
                        <ul>
                            <li><a href="/index01/1">学院概况</a></li>
                            <li><a href="/teacher/teacher">师资团队</a></li>
                            <li><a href="/index03/1">人才培养</a></li>
                            <li><a href="/index04">实验实训</a></li>
                            <li><a href="/teacher/party">党团学工</a></li>
                            <li><a href="/enroll">招生就业</a></li>
                            <li><a href="/articles/all">新闻中心</a></li>
                            <li><a href="/index08/1">联系我们</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                    <div class="footer-widget footer-menu">

                        <h2>联系我们</h2>
                        <ul>
                            <li>
                                <a>学院地址：</a>
                                <a>天府新区视高经济开发区花海大道大学路1号&nbsp四川科技职业学院-7号教学楼-鼎利学院</a>
                            </li>
                            <li>
                                <a>电子邮箱：&nbsp&nbsp ckdlxy@ultrawise.com.cn
                                          </a>
                            </li>
                            <li>
                                <a>电话号码：&nbsp&nbsp 028-36753941</a>
                            </li>
                            <!--<li>-->
                                <!--<a>QQ：800067858</a>-->

                            <!--</li>-->
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
    </div>
    </div>
    <!--<div class="text-center">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<div class="copyright-text">-->
    <!--<p>版权所有： 四川科技职业学院-鼎利学院-->

    <!--</p>-->
    <!--</div>-->
    <!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    版权所有： 四川科技职业学院-鼎利学院
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"></i></a>
<!-- footer-area end  -->

<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- owl.carousel.2.0.0-beta.2.4 css -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- counterup.main.js -->
<script src="{% static 'assets/js/counterup.main.js' %}"></script>
<!-- isotope.pkgd.min.js -->
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<!-- isotope.pkgd.min.js -->
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<!-- jquery.waypoints.min.js -->
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<!-- jquery.magnific-popup.min.js -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- jquery.slicknav.min.js -->
<script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
<!-- snake.min.js -->
<script src="{% static 'assets/js/snake.min.js' %}"></script>
<!-- wow js -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!-- plugins js -->
<script src="{% static 'assets/js/plugins.js' %}"></script>
<!-- main js -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
