{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
{% endblock %}
{% block content %}
<section class="porftolio-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="portfolio-menu text-center">
                            <button class="active" data-filter="*">全部</button>
                            <button data-filter=".website" class="">电子信息工程技术</button>
                            <button data-filter=".responsiv" class="">软件技术</button>
                            <button data-filter=".minimal" class="">计算机网络技术</button>
                            <button data-filter=".clean" class="">通信技术</button>
                            <button data-filter=".test" class="">物联网应用开发</button>
                            <button data-filter=".app" class="">移动应用开发</button>
                        </div>
                    </div>
                </div>
                <div class="row grid" style="position: relative; height: 1582.61px;">
                    <div class="col-md-4 portfolio app col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 0px;">
                        <div class="portfolio-wrap">

                            <div class="overlay" style="top: 300px; left: 0px; width: 360px; height: 300px;">
                                <a class="" href="/lab/1">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>软件教研室</h3>
                                <p>移动应用开发实训中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/static/assets/images/17120714313398810000001.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio responsiv col-sm-6 col-xs-12 col col" style="position: absolute; left: 50%; top: 0px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: -300px; left: 0px; width: 360px; height: 300px;">
                                <a class="" href="/lab/2">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>软件教研室</h3>
                                <p>嵌入式工程实践中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/static/assets/images/17120714413989310000004.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio responsiv col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 263px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: 300px; left: 0px; width: 360px; height: 300px;">
                                <a class="" href="/lab/3">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>软件教研室</h3>
                                <p>嵌入式开发实训中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/static/assets/images/17120714415501310000005.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio website col-sm-6 col-xs-12 col" style="position: absolute; left: 50%; top: 263px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: -300px; left: 0px; width: 360px; height: 300px;">
                                <a class="" href="/lab/4">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>电子教研室</h3>
                                <p>物联网A8实训中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/static/assets/images/17120714372526110000003.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio  responsiv col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 526px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: 300px; left: 0px; width: 360px; height: 300px;">
                                <a class="" href="/lab/5">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>软件教研室</h3>
                                <p>CC3200物联网创新中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/static/assets/images/17120714443098510000006.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio clean col-sm-6 col-xs-12 col" style="position: absolute; left: 50%; top: 526px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: 0px; left: -360px; width: 360px; height: 300px;">
                                <a class="" href="/lab/6">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>通信教研室</h3>
                                <p>移动通信运营商指挥中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/static/assets/images/17120615484937710000033.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio clean col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 789px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: 0px; left: 360px; width: 360px; height: 300px;">
                                <a class="" href="/lab/7">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>通信教研室</h3>
                                <p>移动通信运营商优化测试中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/static/assets/images/17120714323021810000002.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio clean col-sm-6 col-xs-12 col col" style="position: absolute; left: 50%; top: 789px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: -300px; left: 0px; width: 360px; height: 300px;">
                                <a class="" href="/lab/8">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>通信教研室</h3>
                                <p>运营商监控实训中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/media/uploadImages/7306实训室760X400.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio minimal col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 1053px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: -304px; left: 0px; width: 360px; height: 304px;">
                                <a class="" href="/lab/9">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>网络教研室</h3>
                                <p>智慧校园开发展示中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/static/assets/images/17120714531763410000008.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 portfolio test col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 1053px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: -304px; left: 0px; width: 360px; height: 304px;">
                                <a class="" href="/lab/10">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>通信教研室</h3>
                                <p>虚拟现实VR实训室</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/media/CKEDITOR/2019/05/23/307.jpg" alt="">
                            </div>
                        </div>
      		   </div>

<div class="col-md-4 portfolio clean col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 1053px;">
                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: -304px; left: 0px; width: 360px; height: 304px;">
                                <a class="" href="/lab/11">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>通信教研室</h3>
                                <p>运营商通信建设与维护培训中心</p>
                            </div>
                            <div class="portfolio-img">
                               <img src="/media/CKEDITOR/2019/05/23/306.jpg" alt="">
                            </div>
                        </div>
                   </div>

                   <div class="col-md-4 portfolio website col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 1053px;">

                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: -304px; left: 0px; width: 360px; height: 304px;">
                                <a class="" href="/lab/12">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>电子教研室</h3>
                                <p>电子产品开发中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/media/CKEDITOR/2019/05/23/305.jpg" alt="">
                            </div>
                        </div>
                   </div> 

                  <div class="col-md-4 portfolio app col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 1053px;">

                        <div class="portfolio-wrap">
                            <div class="overlay" style="top: -304px; left: 0px; width: 360px; height: 304px;">
                                <a class="" href="/lab/13">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>软件教研室</h3>
                                <p>运营商大数据分析中心</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/media/CKEDITOR/2019/05/23/301.jpg" alt="">
                            </div>
                        </div>
                   </div>

                 <div class="col-md-4 portfolio website col-sm-6 col-xs-12 col" style="position: absolute; left: 0%; top: 1053px;">

                       <div class="portfolio-wrap">
                            <div class="overlay" style="top: -304px; left: 0px; width: 360px; height: 304px;">
                                <a class="" href="/lab/14">
                                    <i class="fa fa-link"></i>
                                </a>
                                <h3>电子教研室</h3>
                                <p>电子技术基础实验室</p>
                            </div>
                            <div class="portfolio-img">
                                <img src="/media/CKEDITOR/2019/05/23/205.jpg" alt="">
                            </div>
                        </div>
                   </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                        <!--<div class="seemore-btn text-center">-->
                            <!--<a href="javascript:void(0);">See More</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </section>
{% endblock %}
