
{% load staticfiles %}
<!-- heared area start -->
<header class="header-area">
  <div class="header-middle bg-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="logo">
            <h1><a href="/"><img style="-webkit-user-select: none;" src="{% static 'assets/images/logo.png' %}"></a></h1>
          </div>
        </div>
        <div class="col-md-9 col-xs-12">
          <div class="header-middle-right">

            <div style="font-size:40px;color:white;text-align:center;vertical-align: middle;padding-top:15px;line-height:40px">
              培养应用型工匠人才的摇篮</div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom" id="sticky-header">
    <div class="container">
      <div class="row">
        <!-- <div class="hidden-md hidden-lg col-sm-8 col-xs-6">
          <div class="logo">
            <h1><a href="index.html">Martxa</a></h1>
          </div>
        </div> -->
        <div class="col-md-11 hidden-sm hidden-xs">
          <div class="mainmenu">
            <ul id="navigation">
              <li class="active"><a href="/index01/1">认识鼎利<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/index01/1">学院概况</a></li>
                  <li><a href="/index01/3">领导班子</a></li>
                  <li><a href="/index01/4">组织架构</a></li>
                  <li><a href="/index01/2">院长寄语</a></li>
                  <li><a href="/index01/5">院长信箱</a></li>

                </ul>
              </li>
              <li><a href="/articles/all">新闻中心<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/articles/hot">热点新闻</a></li>
                  <li><a href="/articles/industry">行业新闻</a></li>
                  <li><a href="/articles/notice">通知公告</a></li>
                </ul>
              </li>
              <li><a href="/articles/all">产教融合<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/articles/team">产学合作</a></li>
                  <li><a href="#">专业工作室<span class="pull-right">+</span></a>
                      <ul class="submenu">
                          <li><a href="/test/class1">电子信息工程技术项目班</a></li>
                          <li><a href="/test/class2">软件技术项目班</a></li>
                      </ul>
                  </li>
                  <!--<li><a href="/articles/industry">专业工作室</a></li>-->

                </ul>
              </li>
              <!--<li><a href="/teacher/teacher">师资团队<i class="fa fa-angle-down"></i></a>-->
                <!--<ul class="submenu">-->
                  <!--<li><a href="/teacher/teacher">教职员工</a></li>-->
                  <!--<li><a href="/teacher/instructor">辅导员</a></li>-->
                  <!--<li><a href="/teacher/administration">行政团队</a></li>-->
                <!--</ul>-->
              <!--</li>-->
              <li><a href="/index04">实验实训</a>
              <li><a href="/index03/1">优质教学<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/index03/1">人才培养</a></li>
                 <!-- <li><a href="/teacher/export">专家团队</a></li>-->
                  <li><a href="/teacher/teacher">师资团队</a></li>
                  <li><a href="/special/1">专业设置</a></li>
                  <!--<li><a href="/index03/3">成果展示</a></li>-->
                  <li><a href="/index03/4">荣誉成果</a></li>
                  <!--<li><a href="/index03/4">项目班</a></li>-->
                </ul>
              </li>
              </li>
              <li><a href="/teacher/party">学生发展<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/teacher/party">党员团队</a></li>
		  <li><a href="/articles/party">党团工作</a></li>
                  <li><a href="/index04/1">专业竞赛</a></li>
                  <li><a href="/index04/2">学生协会</a></li>
                  <li><a href="/index04/3">创新创业</a></li>
                </ul>
              </li>

                            <!--<li><a href="/teacher/party">党团学工<i class="fa fa-angle-down"></i></a>-->
                <!--<ul class="submenu">-->
                  <!--<li><a href="/teacher/party">党员队伍</a></li>-->
                  <!--<li><a href="/articles/party">党团工作</a></li>-->
                  <!--<li><a href="/articles/all">学生成长</a></li>-->
                  <!--&lt;!&ndash;<li><a href="portfolio4.html">科技协会</a></li>&ndash;&gt;-->
                <!--</ul>-->
              <!--</li>-->
              <li><a href="/enroll">招生就业<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/enroll">招生简章</a></li>
		 <li><a href="/articles/work">招生工作</a></li>
                  <li><a href="/index07/1">企业推荐</a></li>
                  <li><a href="/articles/star">就业明星</a></li>
                  <!--<li><a href="/articles/enroll">招生工作</a></li>-->
                  <!--<li><a href="/articles/job">就业工作</a></li>-->
                  <!--<li><a href="/articles/international">国际化教育</a></li>-->
                </ul>
              </li>

              <li><a href="/index08/2">联系我们<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <!--<li><a href="/index08/1">招贤纳士</a></li>-->
                  <li><a href="/index08/2">联系我们</a></li>
                </ul>
                </li>
            </ul>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-3">
          <div class="search-wrap text-right">
            <ul>
              <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-search"></i>
                  </a>
              </li>
            </ul>
          </div>
        </div>
	<div class="col-md-11 col-sm-8 col-xs-6">
          
         </div>
        <div class="col-sm-2 clear col-xs-3 hidden-md hidden-lg">
          <div class="responsive-menu-wrap floatright"></div>
        </div>
      </div>
    </div>
  </div>
</header>
