{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>企业推荐</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}


<section class="blog-details-area ptb-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div class="blog-details-wrap">
                            <br>
                            <div class="blog-details-img">
                                <img src="/static/assets/images/blog/blog-details.jpg" alt="">
                            </div>
                            <div class="blog-details-content">


                                <blockquote>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;川科鼎利（互联网+）学院将职业素养培训贯穿人才培养方案5个学期中，再通过各种项目班、定制班、订单班的培养，使学生在校期间就能获得1—2年的的项目经验，提高就业核心竞争力。联合企业组织专场招聘、双选会，并实时跟踪学生实习情况,将独创UBL人才培养模式落地实施。
川科鼎利（互联网+）学院以“就业导向+专业教育”的产学合作模式，有利于培养目标的实现，能够培养学生的职业发展能力和职业素养，全面的使学生在校期间具备各种工作能力。学院通过长年产学研合作，成为100%就业率创造者
                                </blockquote>

                                <h3>产学研合作企业名单</h3>
                                <ul>
                                    <li>世纪鼎利集团</li>
                                    <li>四川中移通信技术工程有限公司</li>
                                    <li>浪潮集团有限公司</li>
                                    <li>中国通信服务股份有限公司</li>
                                    <li>中国铁塔股份有限公司南充市分公司</li>
                                    <li>南京嘉环科技有限公司</li>
                                    <li>四川汇源吉迅数码科技有限公司</li>
                                    <li>北京电旗通讯技术股份有限公司</li>
                                    <li>成都超讯科技发展有限公司</li>
                                    <li>敦阳泰克科技（成都）有限公司</li>
                                    <li>成都世纪天语科技有限公司</li>
                                    <li>北京铭润创展科技有限公司</li>
                                    <li>成都迅博科技有限公司</li>
                                </ul>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>

{% endblock %}
