{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-6">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>项目班</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li><a href="/">主页</a></li>
                        <li>/</li>
                        <li>电子信息工程技术项目班</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

<!--service-area-->
<section class="service-area ptb-30 bg-1">
    <div class="container col-s-9 ">
        <div class="news_list_con row">
            <h3><span>电子信息工程技术项目班</span></h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以“厚基础、宽口径、强技能、重创新、高素质”为原则,
                培养学生德、智、体、美全面发展,具有良好的“四科”
                (宽厚的学科基础、学科理论、学科方法和学科工具)
                和“四能”(外语沟通交流能力、计算机信息收集处理能力
                、数学工具使用能力和创新实践的能力)。
                依靠鼎利教育独有的UBL培养模式,让学生在项目中"学中做,
                做中学",使鼎利学子成为能掌握扎实的电子信息工程基本理论、
                基本知识、基本技能和方法,具有较强的创新能力和工程实践能力
                ,具有良好的人文、社科知识和相关学科知识，
                让学生具备国际化视野和团队合作能力的高素质的综合应用型人才。</p>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="#" class="thumbnail">
          <img src="/static/img/信1.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="#" class="thumbnail">
          <img src="/static/img/信2.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="#" class="thumbnail">
          <img src="/static/img/信3.jpg" alt="...">
        </a>
    </div>
        </div>
        <!--</div>-->
    </div>
</section>
{% endblock %}