{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-6">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>项目班</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li><a href="/">主页</a></li>
                        <li>/</li>
                        <li>软件技术项目班</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

<!--service-area-->
<section class="service-area ptb-30 bg-1">
    <div class="container">
        <div class="news_list_con row">
            <h3><span>软件技术项目班</span></h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;川科鼎利（互联网+）
                学院2017级软件项目班，目前在班人数42人，由软件
                专业教师李伟负责管理。在项目班学习，每学期都由学
                院内的双师型企业导师进行案例教程的学习与练习，企
                业内实际项目案例学习与联系，整个学生在校学习期间
                校内校外教师交替实施教学，校内校外交替上课学习。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目班教学是针对每个学生的技术
                掌握情况，为每个学生分配同等难度的项目，同学们按照相关专
                业的UBL培养模式进行学习，培养大家独立开发项目的能力。项目
                班学习期间，采用公司与学校共同管理的方式进行，让学生在在校
                学习过程中就能接触到企业文化，以此来缩短学生与企业的距离，
                提高学生就业的适应性。</p>
                <br>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="#" class="thumbnail">
          <img src="/static/img/软1.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="#" class="thumbnail">
          <img src="/static/img/软2.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="#" class="thumbnail">
          <img src="/static/img/软3.jpg" alt="...">
        </a>
    </div>

        </div>
        <!--</div>-->
    </div>
</section>
{% endblock %}