{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>移动应用开发实训中心</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="our-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="blog-wrapper">
                <!--标题-->
                <!--<div class="text-left">-->
                    <!--<div class="my-section-title">-->
                        <!--<span class="section-serial">&gt;</span>-->
                        <!--<div class="title-text">-->
                            <!--<h2>-->
                                <!--<span id="lb_name">移动应用开发实训中心</span></h2>-->
                            <!--<p>EXPERIMENTAL CENTER</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--标题end-->
                <!---full width-->
                <div class="col-md-10 col-md-offset-1">
                    <div class="blog-slider">
                        <div class="blog-gallery-img">
                            <img src="{% static 'assets/images/17120714313398810000001.png'%}" id="faceimage"
                                 width="950"
                                 height="550" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                 sizes="(max-width: 950px) 100vw, 950px">
                        </div>
                    </div>
                    <div class="blog-info">
                        <p>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 整体投入330w，该实训中心主要主持移动互联应用开发实训。以教学需求为主，产业工作为辅的实训中心，可实现手机程序教学、开发、测试、发布、应用的无缝链接。和传统手机开发设备相比，在该实训中心学习和工作可简化手机开发流程3道，提高学习效率30%。在其中不但能够学到如何进行手机程序的开发和创新，更能和产业工程师一起学到真实的企业工作方式和职业能力；实现学校学习和真实工作的无缝连接，解决了学校知识和产业工作生产脱节的问题。 </p>
                        <br>
                        <br>
                    </div>
                </div>

                <div class="col-md-10 col-md-offset-1">

                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">01</span>
                            <div class="title-text">
                                <h2>支撑的课程教学</h2>
                                <p>COURSE TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->

                    <blockquote>
                        <p>计算机系统概论<br>数据库应用技术<br>Web前端开发技术<br>Java程序设计<br>Android应用开发技术<br>Android专题开发<br>计算机应用与编程综合实践<br>面向对象与交互式应用开发综合实践<br>软件综合专题实训I<br>软件综合专题实训II<br>软件综合专题实训III<br>软件综合专题实训IV
                        </p>
                    </blockquote>

                    <br>
<!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">02</span>
                            <div class="title-text">
                                <h2>综合案例实训</h2>
                                <p>PROJECT TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->

                    <blockquote>
                        <p>
                            案例：Android典型界面布局实现<br>案例：迷你日记本<br>案例：迷你天气预报<br>案例：唯美音乐播放器<br>案例：精准导航器<br>案例：评教系统<br>案例：移动应急系统<br>
                        </p>
                    </blockquote>

                </div>



            </div>
            <!-- row -->
        </div>

    </div>
    <!-- container -->
</div>
</div>
{% endblock %}
