{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>电子产品开发中心</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="our-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="blog-wrapper">
                <!--标题-->
                <!--<div class="text-left">-->
                    <!--<div class="my-section-title">-->
                        <!--<span class="section-serial">&gt;</span>-->
                        <!--<div class="title-text">-->
                            <!--<h2>-->
                                <!--<span id="lb_name">智慧校园开发展示中心</span></h2>-->
                            <!--<p>EXPERIMENTAL CENTER</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--标题end-->
                <!---full width-->
                <div class="col-md-10 col-md-offset-1">
                    <div class="blog-slider">
                        <div class="blog-gallery-img">
                            <img src="{% static 'assets/images/17120714531763410000008.jpg'%}" id="faceimage"
                                 width="950"
                                 height="550" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                 sizes="(max-width: 950px) 100vw, 950px">
                        </div>
                    </div>
                    <div class="blog-info">

     <p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子产品开发中心主要培养学生专业技能，掌握电子仪器仪表使用，主要应用于模拟电子技术，数字电子技术，传感器技术等专业课程，培养学生动手能力，以“做中学”完成专业知识学习，培养电子产品创新创业人才，以项目促学，自主创新创业。</p>
                        <br>
                        <br>
                    </div>
                </div>


            </div>
            <!-- row -->
        </div>

    </div>
    <!-- container -->
</div>
</div>
{% endblock %}
