{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>电子技术基础实验室</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="our-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="blog-wrapper">
                <!--标题-->
                <!--<div class="text-left">-->
                    <!--<div class="my-section-title">-->
                        <!--<span class="section-serial">&gt;</span>-->
                        <!--<div class="title-text">-->
                            <!--<h2>-->
                                <!--<span id="lb_name">智慧校园开发展示中心</span></h2>-->
                            <!--<p>EXPERIMENTAL CENTER</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--标题end-->
                <!---full width-->
                <div class="col-md-10 col-md-offset-1">
                    <div class="blog-slider">
                        <div class="blog-gallery-img">
                            <img src="{% static 'assets/images/17120714531763410000008.jpg'%}" id="faceimage"
                                 width="950"
                                 height="550" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                 sizes="(max-width: 950px) 100vw, 950px">
                        </div>
                    </div>
                    <div class="blog-info">

     <p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子技术基础实验室主要承担电子、通信、计算机网络、物联网等专业模拟电子技术、数字电子技术、传感器技术、单片机及接口技术等课程的课后实验及项目实训。</p>
                        <br>
                        <br>
                    </div>
                </div>


<div class="col-md-10 col-md-offset-1">

                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">01</span>
                            <div class="title-text">
                                <h2>支撑的课程教学</h2>
                                <p>COURSE TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->
<blockquote>
                                            <p>
模拟电子技术<br>数字电子技术<br>传感器技术<br>单片机及接口技术

                                            </p>
                                        </blockquote>

                    <br>
                    <br>
                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">02</span>
                            <div class="title-text">
                                <h2>综合案例实训</h2>
                                <p>PROJECT TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->
<blockquote>
                                            <p>
千变万化LED流水灯<br>蜂鸣器之音乐演奏<br>定时器秒表<br>门铃设计
<br>智能小车<br>智能交通灯

                                            </p>
                                        </blockquote>

                </div>



            </div>
            <!-- row -->
        </div>

    </div>
    <!-- container -->
</div>
</div>
{% endblock %}
