{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>嵌入式开发实训中心</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="our-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="blog-wrapper">
                <!--标题-->
                <!--<div class="text-left">-->
                    <!--<div class="my-section-title">-->
                        <!--<span class="section-serial">&gt;</span>-->
                        <!--<div class="title-text">-->
                            <!--<h2>-->
                                <!--<span id="lb_name">嵌入式开发实训中心</span></h2>-->
                            <!--<p>EXPERIMENTAL CENTER</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--标题end-->
                <!---full width-->
                <div class="col-md-10 col-md-offset-1">
                    <div class="blog-slider">
                        <div class="blog-gallery-img">
                            <img src="{% static 'assets/images/17120714415501310000005.jpg'%}" id="faceimage"
                                 width="950"
                                 height="550" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                 sizes="(max-width: 950px) 100vw, 950px">
                        </div>
                    </div>
                    <div class="blog-info">

                        <p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;整体投入326w，该实训中心是以Z7(嵌入式全可编程实训平台)为核心，辅以环境、制度和工作流程的建设，所打造的一个以教学需求为主，产业工作为辅的实训中心；可实现嵌入式各领域的教学、开发、测试工作。通过在该实训中心学习，学生可深刻理解嵌入式开发编程，以及如何和硬件结合，应用到物联网中，实现万物互联互通；同时也能和产业工程师一起，学习真实的工作流程，完成真实的产业项目，为实现高薪就业打下坚实的基础。
                        </p>
                        <br>
                        <br>
                    </div>
                </div>

                <div class="col-md-10 col-md-offset-1">

                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">01</span>
                            <div class="title-text">
                                <h2>支撑的课程教学</h2>
                                <p>COURSE TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->

<blockquote>
                                            <p>
                                                数字电路<br>C语言程序设计<br>Linux系统及应用<br>嵌入式系统开发与应用<br>电子技术<br>无线传感器网络与应用<br>物联网工程规划与设计<br>嵌入式应用开发综合实践<br>物联网系统开发综合实践<br>物联网工程领域应用综合实践<br>嵌入式综合专题实训课程I<br>嵌入式综合专题实训课程II<br>嵌入式综合专题实训课程III<br>嵌入式综合专题实训课程IV<br>
                                            </p>
                                        </blockquote>

                    <br>
                    <br>
                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">02</span>
                            <div class="title-text">
                                <h2>综合案例实训</h2>
                                <p>PROJECT TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->

        <blockquote>
                                            <p>
                                                案例：智能家居<br>案例：智能环境<br>案例：智能教室<br>案例：智能交通<br>
                                            </p>
                                        </blockquote>

                </div>

                <div class="col-md-10 col-md-offset-1">
                    <div class="kc-elm kc-css-424517 ">


                                <!--<li class="video" data-src="https://www.youtube.com/watch?v=Pq9yPrLWMyU"-->
                                    <!--data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video2-cover.jpg">-->
                                    <!--<a href="">-->
                                        <!--<img class="img-responsive"-->
                                             <!--src="{% static 'assets/images/a16303910.jpeg'%}">-->
                                        <!--<div class="demo-gallery-poster">-->

                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->

                                                                <!--<li class="video" data-src="https://www.youtube.com/watch?v=Pq9yPrLWMyU"-->
                                    <!--data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video2-cover.jpg">-->
                                    <!--<a href="">-->
                                        <!--<img class="img-responsive"-->
                                             <!--src="{% static 'assets/images/a62201369.png'%}">-->
                                        <!--<div class="demo-gallery-poster">-->

                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->

                                                                <!--<li class="video" data-src="https://www.youtube.com/watch?v=Pq9yPrLWMyU"-->
                                    <!--data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video2-cover.jpg">-->
                                    <!--<a href="">-->
                                        <!--<img class="img-responsive"-->
                                             <!--src="{% static 'assets/images/a24743583.jpeg'%}">-->
                                        <!--<div class="demo-gallery-poster">-->

                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->

                                                                <!--<li class="video" data-src="https://www.youtube.com/watch?v=Pq9yPrLWMyU"-->
                                    <!--data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video2-cover.jpg">-->
                                    <!--<a href="">-->
                                        <!--<img class="img-responsive"-->
                                             <!--src="{% static 'assets/images/a88130079.jpeg'%}">-->
                                        <!--<div class="demo-gallery-poster">-->

                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->


                                                                <!--<li class="video" data-src="https://www.youtube.com/watch?v=Pq9yPrLWMyU"-->
                                    <!--data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video2-cover.jpg">-->
                                    <!--<a href="">-->
                                        <!--<img class="img-responsive"-->
                                             <!--src="{% static 'assets/images/a51799827.png'%}">-->
                                        <!--<div class="demo-gallery-poster">-->

                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->

                                                                <!--<li class="video" data-src="https://www.youtube.com/watch?v=Pq9yPrLWMyU"-->
                                    <!--data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video2-cover.jpg">-->
                                    <!--<a href="">-->
                                        <!--<img class="img-responsive"-->
                                             <!--src="{% static 'assets/images/a98542397.jpeg'%}">-->
                                        <!--<div class="demo-gallery-poster">-->

                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->



                            <!--</ul>-->

                        <!--</div>-->
                    <!--</div>-->
                </div>


            </div>
            <!-- row -->
        </div>

    </div>
    <!-- container -->
</div>
</div>
{% endblock %}
