{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>CC3200物联网创新中心</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="our-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="blog-wrapper">
                <!--标题-->
                <!--<div class="text-left">-->
                    <!--<div class="my-section-title">-->
                        <!--<span class="section-serial">&gt;</span>-->
                        <!--<div class="title-text">-->
                            <!--<h2>-->
                                <!--<span id="lb_name">CC3200物联网创新中心</span></h2>-->
                            <!--<p>EXPERIMENTAL CENTER</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--标题end-->
                <!---full width-->
                <div class="col-md-10 col-md-offset-1">
                    <div class="blog-slider">
                        <div class="blog-gallery-img">
                            <img src="{% static 'assets/images/17120714443098510000006.jpg'%}" id="faceimage"
                                 width="950"
                                 height="550" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                 sizes="(max-width: 950px) 100vw, 950px">
                        </div>
                    </div>
                    <div class="blog-info">
      <p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;整体投入85w，该实训中心以物联网创新实训平台为核心，依照依照创新、创客工作的真实环境打造，可实现物联网应用的实验、创新和创客的学习和开发工作。通过在在中心的学习，可巩固学生对物联网创新的理解，培养学生在物联网领域的创新和创客意识；激发学生的创新、创业能力。
      </p>
                        <br>
                        <br>
                    </div>
                </div>

                <div class="col-md-10 col-md-offset-1">

                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">01</span>
                            <div class="title-text">
                                <h2>支撑的课程教学</h2>
                                <p>COURSE TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->

                    <blockquote>
                        <p>
数字电路<br>Linux系统及应用<br>嵌入式系统开发与应用<br>电子技术<br>无线传感器网络与应用<br>物联网工程规划与设计<br>嵌入式应用开发综合实践<br>物联网系统开发综合实践<br>物联网工程领域应用综合实践<br>嵌入式综合专题实训课程I<br>嵌入式综合专题实训课程II<br>嵌入式综合专题实训课程III<br>嵌入式综合专题实训课程IV
                        </p>
                    </blockquote>

                    <br>
                    <br>
                    <!--标题-->

                </div>



            </div>
            <!-- row -->
        </div>

    </div>
    <!-- container -->
</div>
</div>
{% endblock %}
