{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>移动通信运营商指挥中心</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="our-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="blog-wrapper">
                <!--标题-->
                <!--<div class="text-left">-->
                    <!--<div class="my-section-title">-->
                        <!--<span class="section-serial">&gt;</span>-->
                        <!--<div class="title-text">-->
                            <!--<h2>-->
                                <!--<span id="lb_name">移动通信运营商指挥中心</span></h2>-->
                            <!--<p>EXPERIMENTAL CENTER</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--标题end-->
                <!---full width-->
                <div class="col-md-10 col-md-offset-1">
                    <div class="blog-slider">
                        <div class="blog-gallery-img">
                            <img src="{% static 'assets/images/17120615484937710000033.png'%}" id="faceimage"
                                 width="950"
                                 height="550" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                 sizes="(max-width: 950px) 100vw, 950px">
                        </div>
                    </div>
                    <div class="blog-info">

                        <p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;整体投入315w，该实训中心以网优网测指挥平台为核心，配套移动通信工作所需的自动路测采集单元、室内定点检测单元、便携式网络测试系统；模拟了一个移动通信运营商的指挥和管理中心；具备移动通信方向网络测试、网络优化、测试规划、测试指挥方面的教学和生产功能。通过在该中心学习，学生不但能够深刻掌握如何进行移动通信网络方面的测试、优化和管理工作，也能掌握各种工作流程，并可在工程师的带领下，对真实的网络情况进行了解和分析。在该中心完成学习后，学生就能够进入到移动通信网络测试优化领域进行真实的工作。
                        </p>
                        <br>
                        <br>
                    </div>
                </div>

                <div class="col-md-10 col-md-offset-1">

                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">01</span>
                            <div class="title-text">
                                <h2>支撑的课程教学</h2>
                                <p>COURSE TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->

         <blockquote>
                                            <p>
                                                计算机网络<br>通信原理<br>交换技术基础<br>宽带交换技术<br>交换网优化技术<br>移动通信无线网络规划与优化<br>通信工程项目管理<br>企业网组网综合实践<br>通信现代工具应用综合实践<br>通信网络优化与规划综合实践<br>移动通信学期实训Ⅰ<br>移动通信学期实训Ⅱ<br>移动通信学期实训Ⅲ<br>移动通信学期实训Ⅳ<br>
                                            </p>
                                        </blockquote>

                    <br>
                    <br>
                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">02</span>
                            <div class="title-text">
                                <h2>综合案例实训</h2>
                                <p>PROJECT TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->
<blockquote>
                                            <p>
项目实施前准备案例<br>用户感知处理案例<br>移动通信网络普查测试案例<br>移动通信日常CQT测试优化案例<br> TDD-LTE干扰整治专项案例
                                            </p>
                                        </blockquote>

                </div>



            </div>
            <!-- row -->
        </div>

    </div>
    <!-- container -->
</div>
</div>
{% endblock %}
